//footer
@charset "UTF-8";

@media all and (max-width:767px){
  #footBox {width: 100%; height: auto; padding:40px 13px; background-color: #1a1a1a;
    & ul {width: 100%; height: auto;
      & li {color:#8a8a8a; font-size: 15px; font-weight: 600; }
      & li:nth-child(1) {margin-bottom: 30px;}
      & li:nth-child(2) {width: 100%; height: 58px; margin-bottom: 20px; background-color:#444 ;
        & a{display:block; width: 150px; height: 100%; padding:20px; box-sizing: border-box;}
      }

    }
  }

}// 디자인기준 320px


@media all and (min-width:768px) and (max-width:1279px) {
  #footBox {width: 100%; height: auto; padding:40px 30px; background-color: #1a1a1a;
    & ul {width: 100%; height: auto;
      & li {color:#8a8a8a; font-size: 15px; font-weight: 600; }
      & li:nth-child(1) {margin-bottom: 30px;}
      & li:nth-child(2) {width: 100%; height: 58px; margin-bottom: 20px; 
        & a{display:block; width: 150px; height: 100%; 
          border-radius: 30px; border:1px solid #8a8a8a; padding:13px; box-sizing: border-box; text-align: center;
        line-height: 29px;}
      }

    }
  
  }

}// 디자인 기준 768px

@media all and (min-width:1280px) and (max-width:1439px) {
  #footBox {width: 100%; height: 308px; padding:20px 80px; background-color: #1a1a1a;
    & ul {display: flex; justify-content: space-between; width: 100%; height: auto;
      & li {color:#8a8a8a; font-size: 15px; font-weight: 600; }
      & li:nth-child(1) {margin-bottom: 30px;}
      & li:nth-child(2) {width: 100%; height: 58px; margin-bottom: 20px; 
        & a{display:block; float: right; width: 150px; height: 100%; border: 1px solid #8a8a8a; 
          border-radius: 30px; padding:15px; text-align: center; box-sizing: border-box;}
      }

    }
  }
}// 디자인 기준 1280px


@media all and (min-width:1440px) {
  #footBox {width: 100%; height: 308px; padding:40px 150px; background-color: #1a1a1a;
    & ul {display: flex; justify-content: space-between; width: 100%; height: auto;
      & li {color:#8a8a8a; font-size: 15px; font-weight: 600; }
      & li:nth-child(1) {margin-bottom: 30px;}
      & li:nth-child(2) {width: 100%; height: 58px; margin-bottom: 20px; 
        & a{display:block; float: right; width: 150px; height: 100%; border: 1px solid #8a8a8a; 
          border-radius: 30px; padding:15px; text-align: center; box-sizing: border-box;}
      }

    }
  
  } 

}//디자인 기준 1440px