@charset "UTF-8";
/* common.css */

/* IR: image replace */
.blind_warp a >span,
.blind_warp button >span,
.blind { 
  display: block;
  width: 0; height: 0; overflow: hidden; }

  .blind_wrap a {
    display:block;width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .none {display: none;}

.clearfix { width:100%; height:auto; }
.clearfix:after, .clearfix::after{
  content:""; display: block; clear:both; width: 100%; height: 0; }
#wrap { margin:auto; }


section {margin-bottom: 100px;}
aside {margin-bottom: 100px;}
article {margin-bottom: 100px;}

h1, h2, h3, h4, h5 
{text-transform: uppercase;} 
li, dd, div
{text-transform: capitalize;}
