/* pc (디자인 기준 1440px ) */
body {width: 100%;}

@media all and (min-width:1440px) {
  #wrap {width: 1440px; height: auto;min-height:100px;}
    .menu_btn {display: none;}

    #headBox {width: 100%; height:80px; padding: 24px; background-color: aliceblue;}

    h1{ float:left; width: 220px; height: 32px; margin-left: 100px;
      background-image: url(../../multi/img/Home_Logo.svg); 
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size: contain;
  }
    .navigation{position: relative; float:right; width:auto; height: 30px; line-height: 30px;}  

    .gnb {float:left;  width: auto; height: auto;background-color: #fff;} 

    .gnb div {text-indent: 10px;}

    .gnb li {float:left; width: 100px; height: auto; min-height: 30px; text-align:center;
      padding-right: 10px;  margin-right: 40px; background-color:#fff;} 
      .gnb li:last-child {margin-right: 0;}
      .nav_list a {display: block;
        margin-top: 10px; text-align: center;
      width: 100px; height: auto;}
      
    .nav_list {display:none; height:auto; background-color: #fff;}
    .nav_list li  {width: 100px; margin-top: 30px; height: auto;}
      
    .gnb:hover .nav_list {display: block;}
      
    .nav_list li:hover {background-color: #C5D3D9;}
      
      
    .unb {float:left; width: auto; height: 24px; }
    .unb > div { float:left; width: 90px; height: 100%; padding: 0 5px; box-sizing: border-box; }
    .unb a {display: block; width:100%; height: 30px; text-align: center;}
      
    .search {float:right;  width: 40px; height: 40px; margin-top: -5px;}
      
    .search button {width: 100%; height: 100%; }
      
    .search_area { width: 100%; height: 100%;} 
    /*display:none 으로 감추고 JS로 실현*/ 
      
    .search_area fieldset {position:absolute; top: 30px; right: 0; width: auto; height: 80px; background-color: #eee;
      padding:10px; border: 1px solid #333; font-weight:bold;}
    .search_area input {width: 150px; height: 30px;}
    .search_area button {width: 50px; height: 30px; border: 1px solid #333;}
    
    .search_area  button:hover { 
      transform:translateY(-5px); box-shadow:0 9px 4px rgba(120, 133, 180, 0.616); 
      background-color: #171717; color:#fff;}
    
      .search_area button:focus { background-color:#fda; font-size: 20px;}
      .search_area  button:active{ background-color:#C5D3D9; color: #171717;} 
/*============================================================================================================= headBox*/
    
  
  #product_area {width: 100%; height: 700px; background-color:#E8EFEE; padding: 100px;}
  #product_area ul {width: 1024px; height: 500px; background-color: #C5D3D9; margin: auto;}
  #product_area li {position:relative; display: flex; justify-content:space-between;  
    width: 100%; height: 500px; background-color: #C5D3D9;}
   .md_img{width: 500px; height: 500px; background-color: #555;}
   #product_area dl {width: 500px; height: 500px; background-color: #C5D3D9; padding:50px 0px;}
   #product_area dt {width: 100%; height: 30px; background-color: #E8EFEE; margin-bottom:40px;}
   #product_area dd {width: 100%; height: 200px; background-color: #E8EFEE;}

   .input_box {position: absolute; right:0; top:320px; z-index: 10;
    width:500px; height: 180px; padding:40px 50px;}
   .btn_area {display:flex; justify-content: space-between; 
     width: 400px; height: 80px; background-color: #eee;}
   .btn_area input {width: 150px; height: 80px; padding: 0; border: 0;}
 
   .add_cart_btn {width: 200px; height: 80px; background-color: #eee;}
   .add_cart_btn button {width: 200px; height: 80px; background-color: #fff ;}



/*================================================================product_area*/




  #recommend_box {width: 100%; height:600px; background-color: #e8efee;}
  #md_detail_explain {width: 100%; height:224px; background-color: #e8efee;}
  #footBox {width: 100%; height: 240px; background-color: aqua;}
}