/* tablet (디자인 기준 768px )*/
body {width: 100%;}

@media all and (min-width:768px) and (max-width:1279px) {
  #wrap {width: 768px; height: auto; min-height:100px;}

  #headBox {width: 100%; height:80px; padding:24px; background-color: aliceblue;}
  .menu_btn {float: left; margin-top:10px;}
  h1 {width: 220px; height: 32px; margin: auto;    
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position:50% 50% ;
    background-size: contain;
  }
  .navigation{display: none;}
  /*============================================================= headBox*/

  
  #product_area {width: 100%; height: 1216px; background-color:#E8EFEE; padding: 100px 134px; }
  #product_area ul {width: 100%; height: 1016px; background-color: #C5D3D9;}
  #product_area li {width: 100%; height: 1016px; background-color: #C5D3D9;}
   .md_img {width: 500px; height: 500px; background-color: #555; margin: auto;}
   #product_area dl {width: 100%; height: 320px; background-color: #C5D3D9; padding:50px 0px;}
   #product_area dt {width: 100%; height: 30px; background-color: #E8EFEE; margin-bottom:40px ;}
   #product_area dd {width: 100%; height: 200px; background-color: #E8EFEE;}

    .input_box {width: 100%; height: 180px; padding:40px 60px;}
    .btn_area {display:flex; justify-content: space-between; 
      width: 390px; height: 80px; background-color: #eee;}
    .btn_area input {width: 150px; height: 80px; padding: 0; border: 0;}
  
    .add_cart_btn {width: 200px; height: 80px; background-color: #eee;}
    .add_cart_btn button {width: 200px; height: 80px; background-color: #fff ;}



/*================================================================product_area*/


#recommend_box {width: 100%; height:600px; background-color: #fff; padding-top: 50px;}
  #recommend_box h2 {width: 100%; height: 70px; background-color: #E8EFEE; text-align: center; line-height: 70px; margin-bottom: 100px; }
    .recom_wrap {width: 100%; height: 0;}
    .recom_area {  display:flex; justify-content: space-around; width: 100%; height: 350px; background-color: #E8EFEE; padding: 35px 0;}
    .recom_area li {width: 200px; height: 280px; background-color: #555; padding-top: 10px; }
    .re_md_img {width:160px; height: 160px; background-color: #eee;  margin: auto; margin-bottom: 10px;}
    .recom_area dl {width: 170px; height: 90px; background-color: #eee; margin: auto; }
    .recom_area dt {width: 100%; height: 24px; background-color: #fff; margin-bottom: 10px;}
    .recom_area dd {width: 100%; height: 56px; background-color: #fff;}

/*==================================================================recommended product*/
  #md_detail_explain {width: 100%; height:980px;}

  #md_detail_explain dl {width: 100%; height: 700px; padding-top: 50px; margin-bottom:80px;background-color: #e8efee;}
  #md_detail_explain dt {width: 300px; height: 70px; background-color: #fff; margin: auto; margin-bottom: 80px;}
  #md_detail_explain h2 {width: 100%; height: 100%; text-align: center; line-height: 70px;}
  #md_detail_explain dd {width: 700px; height: 400px; margin: auto; background-color: #fff;}

  .detail_card_wrap {width: 100%; height:0;}
  .detail_card_box {display:flex;justify-content: space-around;  width: 100%; height: 200px; background-color: #e8efee; padding:50px 0; }
  .detail_card_box li {width: 100px; height: 100%; background-color: #171717;}


/*======================================================================md_detail_explin*/
  


#footBox {width: 100%; height: 240px;}
  .info {width: 100%; height: 100px; background-color: #dfdfdf;}
  .navien_logo {width: 100%; height:60px; background-color:#fff;}
  .black_logo {width: 100%; height: 80px; background-color: #171717;}

  /*======================================================================footBOX*/




  
}/*====================768px=========================*/