// @varibale 


//color============================================
$color__sky : #C5D3D9;
$color__navy : #2D3C73;
$color__black : #171717;
$color__white : #fff;
$color__ecobg : #E8EFEE;
$color__aLgray:#777;
$color__Lgray : #dfdfdf;
$color__gray : #333;
$color__gray02 : #eee;
$color__focus : #fda;
$color__hover : #c5d3d9;
$color__news : #666;
$color_newsBg : #F5F4F2;
$color_summary : #fad;
$color_summary_02 : #afd;
$color_sum_news : #771;
$color_indi: #555;