@charset "UTF-8";
/* a_wire_navien */


/* work place */

/* head Box */

#wrap {
  width: 1280px; height: auto; min-height:500px;
  margin: auto; 
  background-color: #fff; padding-top: 5rem;
}
#headBox {position:fixed; left: 0; top: 0; z-index: 1000;
  width: 100%; height: 80px;background-color: #fff;
 margin:auto; padding:25px; box-sizing: border-box; 
border: 1px solid #333;}
 .headBox{  position: relative; width: 100%; max-width: 1440px; margin: auto;
}
 h1 {float:left; width: 220px; height: 32px; margin: auto;
  margin-left: 100px;}

 .all_menu button {width: 100%; height: 100%;}
 .all_menu{
  position:absolute; top:0; left:0;
  width: 32px; height: 32px;  margin-left:20px; 
  border: #333;}

 .navigation{float:right; width:auto; height: 30px; }  

  .gnb {float:left; width: auto; height: 100%;}

  .unb {float:left; margin-left:60px; width: auto; height: 100%;}

  .navigation li {
    float:left; width: 70px; height: 100%; margin-right: 30px; border: 1px solid #333;  
   }
  
  .navigation li a { display:block; width: 100%; height: 100%; text-align: center; 
  line-height:30px;}
  

  .search {float: right; width: 32px; height: 32px;}
  .search button {width: 100%; height: 100%;}  

  /*------------------------------------------------------------*/

  
/* 광고영역  */
#commercial{position: relative; width: 100%; height: 800px; background-color: #dfdfdf;
overflow: hidden;} 
    .btn_i {position: absolute; width: 92.361%; height: 0; background-color: #333; 
      top:360px; left:55px; z-index: 100;}
      .btn_i button {
        width: 40px; height: 40px; background-color: #fff;
      }
      .btn_i .next {float:right;}
      .btn_i .prev {float:left;}      
/*--------------------------------------*/


/* 새로운 제품 */
#newMd { width: 100%; height: 600px; background-color: #fff ; padding:90px; box-sizing: border-box;}
    .new_box {width: 1100px; height: 420px; margin:auto;}
    #newMd h2 {text-align:center; font-weight:bold;}
    .new_box > ul {width: auto; height: 280px; margin-top: 100px;}
    .new_box li {float:left;width: 200px; height:280px; background-color:#333 ;
   margin-right: 100px;}
    .new_box li:last-child {margin-right: 0; }
/*-----------------------------------------------------------*/


/* 새로운 것 중 베스트 */
#bestOnnew {width:100%; height: 500px; background-color: #C5D3D9; padding-top: 50px; box-sizing: border-box;}
  .bn_Box {width:930px; height:500px; margin: auto;}
  h2 {text-align:center;}
  .bn_img {float:left; width: 320px; height: 320px; background-color: #333;
    margin-left: 50px;  margin-top: 50px;}
  .bn_Box ul {float: right;width: 320px; height: 200px; margin-top: 100px; margin-right: 50px;}
  ul > .bn_title {float:left; width: 320px; height: 24px; font-size: 24px; font-weight: bold;}
  ul > .bn_text {float:left; width: 320px; height: 120px;  margin-top: 30px;}
/*-------------------------------------------------------------*/


/* 가장 잘팔린 것 */
#bestMd {width:100%; height: 550px;
padding-top: 75px; box-sizing: border-box;}
  .best_box {width: 1100px; height: 400px;  margin:auto;}
  #bestmd h2 {text-align:center}
  .best_box ul {width: auto; height: auto; margin-top: 100px;}
  .best_box li {float: left; width: 200px; height:280px; background-color:#333 ;
  margin-right:100px;}
  .best_box   li:last-child {margin-right: 0; } 

/*-------------------------------------------------------*/


/* go to maagazine */
#gotomagazine {width:100%; height: 380px; background-color:#313131; padding-top:50px; box-sizing: border-box;}
  #gotomagazine  h2 { color:#eee; text-align: center; }
  .magz_text_box {width: auto; height: 200px; margin-left: 55% ; margin-top: 40px;}
    .magazine_title {width: auto; height: 30px;  margin-bottom: 20px;
    color: #eee; font-size: large; font-style: italic; font-weight: bolder; line-height: 30px; }
    .magazine_text {width: 400px; height: 140px;
    color:#eee; font-style: italic;}

  .btn {width: 290px; height: 30px; background-color: #eee; border-radius: 30px;
  margin: auto;}
  button {width: 290px; height: 30px;border-radius: 30px; }
  
/*--------------------------------------------------*/  
  
/* Eco */
#Eco {width:100%; height: 1400px; background-color:#E8EFEE; padding: 100px; box-sizing:border-box}
.Eco_con { float:left; width: 100%; height: auto; padding-top: 100px; box-sizing:border-box;}
  #Eco > h2 {text-align: center;}
  .Eco_image {float:left; width: 100%; height: 500px; margin:auto;} 
    .eco_img_01 {float:left; width: 55%; height: 500px; background-color:#313131;} 
    .eco_img_02 {float:right; width: 40%; height: 500px; background-color: #313131;}
    

  .explain_area {float:left;width: 100%; height: 400px; margin:auto; margin-top: 100px;}
    .explain_area > ul {float:left; width: 600px; height: 300px;  margin-top: 40px;
      }
    .con_title {float:left; width: 300px; height: 24px; margin-top:30px; margin-bottom: 30px; 
     font-weight: bold; font-size: 24px;}
    .con_text {float:left; width: 600px; height: 236px;}
    .con_img {float:right; width: 40%; height: 400px; background-color: #313131;}

/*----------------------------------------*/    

/*  고객센터  */
#service {width:100%; height: 400px;  padding-top: 70px; box-sizing: border-box;}
  .cs_img {width: 430px; height: 260px; background-color: #eee; margin: auto;}
  .cs_img > h3 {width:430PX; height: 50PX; background-color: #2D3C73;
  font-size: 2.5rem; color:#fff; border-radius: 60px;
text-align: center;}

/*------------------------------------------------*/    


/* company */
#footBox {width:100%; height: 250px; background-color: #dfdfdf;}
  .use_info {float:left;width: 100%; height: 60px;}
  .temp {float: left; width: auto; height: 60px;margin-left: 100px;}
  .temp li {float:left; width: 70px; height: 100%; margin-right: 30px; 
  text-align:center; line-height: 60px;}
  .com_info {float:left;width: 100%; height: 190px; background-color: #333;}



