@charset "UTF-8";

@media all and (max-width:767px){
  #magazine_box3 {width: 100%; height: 1120px; background-color: #C5D3D9; padding: 50px 0;}
    .magazine_card03 {width: 100%; height: 100%; background-color: #C5D3D9;
      & dl{width: 298px; height: 300px; margin: auto; background-color: #fff; margin-bottom:50px;
        & dt {width: 100%; height: 40px; line-height: 40px;}
        & dd {width: 100%; height: 182px;}
      }
      & ul {width: 300px; height: 650px; background-color: #C5D3D9; margin: auto;
        & li {width: 300px; height: 300px; background-color: #666; margin-bottom: 50px;}
        & li:last-child {margin-bottom: 0;}
      }
    }
}// 디자인기준 320px


@media all and (min-width:768px) and (max-width:1279px) {
  #magazine_box3 {width: 100%; height: 500px; background-color: #C5D3D9; padding-top:50px;
      & dl {display: flex; justify-content: space-around; width: 100%; height: 114px; background-color: #fff;
      & dt {width: 300px; height: 114px; line-height: 114px;}
      & dd {width: 300px; height: 114px;}
      }
    & ul {display: flex; justify-content: space-around; width: 666px; height: 300px; background-color: #C5D3D9; margin: auto; margin-top: 20px;
      & li {width: 300px; height: 300px; background-color: #666;}
    }
  }

}// 디자인 기준 768px

@media all and (min-width:1280px) and (max-width:1439px) {
  #magazine_box3 {width: 100%; height: 500px; background-color: #C5D3D9; padding-top:50px;
    & dl {display: flex; justify-content: space-around; width: 900px; height: 114px; background-color: #fff; margin: auto;
      & dt {width: 300px; height: 114px; line-height: 114px;}
      & dd {width: 300px; height: 114px;}
      }
    & ul {display: flex; justify-content: space-around; width: 666px; height: 300px; background-color: #C5D3D9; margin: auto; margin-top: 20px;
      & li {width: 300px; height: 300px; background-color: #666;}
    }
  
  }

}// 디자인 기준 1280px


@media all and (min-width:1440px) {
  #magazine_box3 {width: 100%; height: 500px; background-color: #C5D3D9; padding-top:50px;
    & dl {display: flex; justify-content: space-around; width: 900px; height: 114px; background-color: #fff;margin: auto;
      & dt {width: 300px; height: 114px; line-height: 114px;}
      & dd {width: 300px; height: 114px;}
      }
    & ul {display: flex; justify-content: space-around; width: 666px; height: 300px; background-color: #C5D3D9; margin: auto; margin-top: 20px;
      & li {width: 300px; height: 300px; background-color: #666;}
    }
  }
}//디자인 기준 1440px