@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 60px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap .gnb {
    display: none;
  }
  .mobile_gnb_btn {
    width: 34px;
    height: 34px;
  }
  .mobile_gnb_btn > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #headBox .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1100;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 13px;
  }
  #headBox .mobile_menu .close_btn {
    position: absolute;
    z-index: 1;
    right: 16px;
    width: 22px;
    height: 32px;
  }
  #headBox .mobile_menu a {
    display: block;
  }
  #headBox .mobile_menu.on {
    display: block;
    transition: opacity 1;
  }
  #headBox .mobile_menu ul {
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 1000;
    margin-left: -50%;
    width: 100%;
    height: auto;
    padding: 15px;
  }
  #headBox .mobile_menu ul li {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
  }
  #headBox .mobile_menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .mobile_menu .mo_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #232323;
    opacity: 0.5;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap .gnb {
    display: none;
  }
  .mobile_gnb_btn {
    width: 34px;
    height: 34px;
  }
  .mobile_gnb_btn > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #headBox .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 13px;
  }
  #headBox .mobile_menu .close_btn {
    float: right;
    width: 22px;
    height: 32px;
  }
  #headBox .mobile_menu a {
    display: block;
  }
  #headBox .mobile_menu.on {
    display: block;
  }
  #headBox .mobile_menu ul {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: auto;
    padding: 50px 100px;
  }
  #headBox .mobile_menu ul li {
    width: auto;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
  }
  #headBox .mobile_menu ul li > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .mobile_menu .mo_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-color: #232323;
    opacity: 0.5;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb {
    width: 700px;
    height: 100%;
  }
  .gnb > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .gnb > ul li {
    width: auto;
    height: 100%;
    line-height: 34px;
    text-align: center;
  }
  .gnb > ul lia {
    width: 100%;
    height: 100%;
  }
  .gnb > ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background-color: #232323;
    color: #fff;
  }

  #headBox .menu_wrap .mobile_gnb_btn {
    display: none;
  }
  #headBox .mobile_menu {
    display: none;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 1440px;
    height: 60px;
    padding: 13px 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb {
    width: 700px;
    height: 100%;
  }
  .gnb > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .gnb > ul li {
    width: auto;
    height: 100%;
    line-height: 34px;
    text-align: center;
  }
  .gnb > ul lia {
    width: 100%;
    height: 100%;
  }
  .gnb > ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background-color: #232323;
    color: #fff;
  }

  #headBox .menu_wrap .mobile_gnb_btn {
    display: none;
  }
  #headBox .mobile_menu {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .slide_box {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }

  .button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    top: 40%;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 10px;
    cursor: pointer;
  }
  .button_box button {
    display: block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
  .button_box button i {
    color: #fff;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box .slide_01 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_02 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_03 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .slide_box {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }

  .button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 0 10px;
  }
  .button_box button {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  .button_box button i {
    color: #fff;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box .slide_01 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_02 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_03 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .slide_box {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }

  .button_box {
    display: block;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
    padding: 0 40px;
  }
  .button_box button {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  .button_box button i {
    color: #fff;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box .slide_01 {
    float: left;
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_02 {
    float: left;
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_03 {
    float: left;
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 1440px) {
  .slide_box {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }

  .button_box {
    display: block;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
    padding: 0 50px;
  }
  .button_box button {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  .button_box button i {
    color: #fff;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box .slide_01 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_02 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box .slide_03 {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (max-width: 767px) {
  .intro {
    width: 100%;
    height: 600px;
    padding: 50px 13px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .video-area {
    width: 100%;
    height: 160px;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 210px;
    margin-top: 30px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .intro {
    width: 100%;
    height: 1050px;
    padding: 50px 30px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 300px;
    padding: 100px 0;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .video-area {
    width: 100%;
    height: 380px;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .intro {
    width: 100%;
    height: 1050px;
    padding: 50px 100px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 260px;
    padding: 100px 0;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .video-area {
    width: 725px;
    height: 410px;
    margin: auto;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 1440px) {
  .intro {
    width: 100%;
    height: 1050px;
    padding: 50px 100px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 260px;
    padding: 100px 0;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 22px;
    font-weight: bold;
  }

  .video-area {
    width: 725px;
    height: 410px;
    margin: auto;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 22px;
    font-weight: bold;
  }
}
@media all and (max-width: 767px) {
  .ex_booth {
    width: 100%;
    height: 800px;
    padding: 50px 16px;
    background-color: white;
  }

  .text_a_01 {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
  }
  .text_a_01 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .text_a_01 > p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .booth_wrap {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .booth_wrap .booth_button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    top: 30%;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 10px;
  }
  .booth_wrap .booth_button_box button {
    width: 3rem;
    height: 3rem;
  }
  .booth_wrap .booth_button_box button i {
    color: #000;
  }
  .booth_wrap .booth_pd {
    display: flex;
    justify-content: flex-start;
    width: 500%;
    height: 100%;
  }
  .booth_wrap .booth_pd li {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .booth_wrap .booth_pd li .img_box {
    width: 288px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
  }
  .booth_wrap .booth_pd li .booth_img01 {
    background-margin: auto;
    background-image: url(../../multi/img/booth/section03_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img02 {
    background-image: url(../../multi/img/booth/section03_img02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img03 {
    background-image: url(../../multi/img/booth/section03_img03.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img04 {
    background-image: url(../../multi/img/booth/section03_img04.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img05 {
    background-image: url(../../multi/img/booth/section03_img05.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li > dl {
    width: 283px;
    height: 270px;
    margin: auto;
  }
  .booth_wrap .booth_pd li > dl dt {
    width: 283px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .booth_wrap .booth_pd li > dl dt span {
    font-weight: bold;
  }
  .booth_wrap .booth_pd li > dl dd {
    width: 283px;
    height: auto;
    font-size: 13px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .ex_booth {
    width: 100%;
    height: auto;
    padding: 50px 45px;
    background-color: white;
  }

  .text_a_01 {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
  }
  .text_a_01 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .text_a_01 > p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .booth_wrap {
    position: relative;
    width: 100%;
    height: 760px;
    overflow: hidden;
  }
  .booth_wrap .booth_button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 55%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
    padding: 0 20px;
  }
  .booth_wrap .booth_button_box button {
    width: 3rem;
    height: 3rem;
  }
  .booth_wrap .booth_button_box button i {
    color: #000;
  }
  .booth_wrap .booth_pd {
    display: flex;
    justify-content: flex-start;
    width: 500%;
    height: 100%;
  }
  .booth_wrap .booth_pd li {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .booth_wrap .booth_pd li .img_box {
    width: 678px;
    height: 390px;
    margin: auto;
  }
  .booth_wrap .booth_pd li .booth_img01 {
    margin: auto;
    background-image: url(../../multi/img/booth/section03_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img02 {
    background-image: url(../../multi/img/booth/section03_img02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img03 {
    background-image: url(../../multi/img/booth/section03_img03.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img04 {
    background-image: url(../../multi/img/booth/section03_img04.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img05 {
    background-image: url(../../multi/img/booth/section03_img05.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li > dl {
    width: 283px;
    height: 270px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .booth_wrap .booth_pd li > dl dt {
    width: 283px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .booth_wrap .booth_pd li > dl dt span {
    font-weight: bold;
  }
  .booth_wrap .booth_pd li > dl dd {
    width: 283px;
    height: auto;
    font-size: 13px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .ex_booth {
    width: 100%;
    height: auto;
    padding: 100px 100px;
    background-color: white;
  }

  .text_a_01 {
    width: 100%;
    height: 170px;
  }
  .text_a_01 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .text_a_01 > p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .booth_wrap {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .booth_wrap .booth_button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
  }
  .booth_wrap .booth_button_box button {
    width: auto;
    height: auto;
  }
  .booth_wrap .booth_button_box button i {
    color: #000;
  }
  .booth_wrap .booth_pd {
    display: flex;
    justify-content: flex-start;
    width: 500%;
    height: 100%;
  }
  .booth_wrap .booth_pd li {
    display: flex;
    width: 880px;
    height: 400px;
    margin: auto;
  }
  .booth_wrap .booth_pd li .img_box {
    width: 576px;
    height: 390px;
    margin: auto;
  }
  .booth_wrap .booth_pd li .booth_img01 {
    margin: auto;
    background-image: url(../../multi/img/booth/section03_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img02 {
    background-image: url(../../multi/img/booth/section03_img02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img03 {
    background-image: url(../../multi/img/booth/section03_img03.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img04 {
    background-image: url(../../multi/img/booth/section03_img04.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img05 {
    background-image: url(../../multi/img/booth/section03_img05.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li > dl {
    width: 283px;
    height: 270px;
    text-align: center;
    margin: auto;
  }
  .booth_wrap .booth_pd li > dl dt {
    width: 283px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .booth_wrap .booth_pd li > dl dt span {
    font-weight: bold;
  }
  .booth_wrap .booth_pd li > dl dd {
    width: 283px;
    height: auto;
    font-size: 13px;
  }
}
@media all and (min-width: 1440px) {
  .ex_booth {
    width: 100%;
    height: auto;
    padding: 100px 100px;
    background-color: white;
  }

  .text_a_01 {
    width: 100%;
    height: 170px;
  }
  .text_a_01 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .text_a_01 > p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .booth_wrap {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .booth_wrap .booth_button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
    padding: 0 20px;
  }
  .booth_wrap .booth_button_box button {
    width: 3rem;
    height: 3rem;
  }
  .booth_wrap .booth_button_box button i {
    color: #000;
  }
  .booth_wrap .booth_pd {
    display: flex;
    justify-content: flex-start;
    width: 500%;
    height: 100%;
  }
  .booth_wrap .booth_pd li {
    display: flex;
    width: 900px;
    height: 500px;
    margin: auto;
  }
  .booth_wrap .booth_pd li .img_box {
    width: 600px;
    height: 410px;
    margin: auto;
  }
  .booth_wrap .booth_pd li .booth_img01 {
    margin: auto;
    background-image: url(../../multi/img/booth/section03_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img02 {
    background-image: url(../../multi/img/booth/section03_img02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img03 {
    background-image: url(../../multi/img/booth/section03_img03.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img04 {
    background-image: url(../../multi/img/booth/section03_img04.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img05 {
    background-image: url(../../multi/img/booth/section03_img05.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li > dl {
    width: 283px;
    height: 270px;
    text-align: center;
    margin: auto;
  }
  .booth_wrap .booth_pd li > dl dt {
    width: 283px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .booth_wrap .booth_pd li > dl dt span {
    font-weight: bold;
  }
  .booth_wrap .booth_pd li > dl dd {
    width: 283px;
    height: auto;
    font-size: 13px;
  }
}
@media all and (max-width: 767px) {
  .advice_area {
    width: 100%;
    height: auto;
    padding: 50px 16px;
    background-color: whitesmoke;
  }
  .advice_area h2 {
    width: 100%;
    height: 32px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .advice_area fieldset {
    width: 100%;
    height: auto;
  }
  .advice_area .basic_form {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .basic_form > label {
    width: 100%;
    height: 24px;
  }
  .advice_area .basic_form input {
    width: 100%;
    height: 30px;
    border: 1px solid #171717;
  }
  .advice_area .advice_box {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .advice_area .advice_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .advice_box textarea {
    width: 100%;
    height: 176px;
    border: 1px solid #171717;
  }
  .advice_area .tel_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .tel_box > label {
    width: 100%;
    height: 24px;
  }
  .advice_area .tel_box input {
    width: 100%;
    height: 30px;
    border: 1px solid #171717;
  }
  .advice_area .mail_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .mail_box > label {
    width: 100%;
    height: 24px;
  }
  .advice_area .mail_box input {
    width: 100%;
    height: 30px;
    border: 1px solid #171717;
  }
  .advice_area .way_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .way_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .way_box .check_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
  }
  .advice_area .way_box .check_area .box_radio {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  .advice_area .way_box .check_area .box_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .way_box .check_area .box_radio label {
    width: auto;
    height: auto;
  }
  .advice_area .private_box {
    width: 100%;
    height: 160px;
  }
  .advice_area .private_box p {
    width: 100%;
    height: 160px;
    border: 1px solid #171717;
    padding: 5px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .private_box p span {
    font-weight: 700;
  }
  .advice_area .private_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .private_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .private_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .advice_area .third_box {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .advice_area .third_box p {
    width: 100%;
    height: 200px;
    border: 1px solid #171717;
    padding: 5px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .third_box p span {
    font-weight: 700;
  }
  .advice_area .third_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .third_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .third_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .advice_area {
    width: 100%;
    height: auto;
    padding: 150px 40px;
    background-color: whitesmoke;
  }
  .advice_area h2 {
    width: 100%;
    height: 32px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 50px;
  }
  .advice_area fieldset {
    width: 100%;
    height: auto;
  }
  .advice_area .basic_form {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .basic_form > label {
    width: 100%;
    height: 24px;
  }
  .advice_area .basic_form input {
    width: 100%;
    height: 30px;
    border: 1px solid #171717;
  }
  .advice_area .advice_box {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .advice_area .advice_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .advice_box textarea {
    width: 100%;
    height: 176px;
    border: 1px solid #171717;
  }
  .advice_area .tel_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .tel_box > label {
    width: 100%;
    height: 24px;
  }
  .advice_area .tel_box input {
    width: 100%;
    height: 30px;
    border: 1px solid #171717;
  }
  .advice_area .mail_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .mail_box > label {
    width: 100%;
    height: 24px;
  }
  .advice_area .mail_box input {
    width: 100%;
    height: 30px;
    border: 1px solid #171717;
  }
  .advice_area .way_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .way_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .way_box .check_area {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 20px;
  }
  .advice_area .way_box .check_area .box_radio {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  .advice_area .way_box .check_area .box_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .way_box .check_area .box_radio label {
    width: auto;
    height: auto;
  }
  .advice_area .private_box {
    width: 100%;
    height: 160px;
  }
  .advice_area .private_box p {
    width: 100%;
    height: 160px;
    border: 1px solid #171717;
    padding: 10px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .private_box p span {
    font-weight: 700;
  }
  .advice_area .private_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .private_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .private_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .advice_area .third_box {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .advice_area .third_box p {
    width: 100%;
    height: 200px;
    border: 1px solid #171717;
    padding: 5px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .third_box p span {
    font-weight: 700;
  }
  .advice_area .third_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .third_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .third_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .advice_area {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: whitesmoke;
  }
  .advice_area h2 {
    width: 100%;
    height: 32px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 50px;
  }
  .advice_area fieldset {
    width: 600px;
    height: auto;
    margin: auto;
  }
  .advice_area .nom_area {
    float: left;
    width: 45%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .nom_area > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .nom_area input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .office_area {
    float: right;
    width: 45%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .office_area > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .office_area input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .office_addre {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .office_addre > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .office_addre input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .advice_box {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  .advice_area .advice_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .advice_box textarea {
    width: 100%;
    height: 126px;
    border: 1px solid #171717;
  }
  .advice_area .tel_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .tel_box > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .tel_box input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .mail_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .mail_box > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .mail_box input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .way_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .way_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .way_box .check_area {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 20px;
  }
  .advice_area .way_box .check_area .box_radio {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  .advice_area .way_box .check_area .box_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .way_box .check_area .box_radio label {
    width: auto;
    height: auto;
  }
  .advice_area .private_box {
    width: 100%;
    height: 160px;
  }
  .advice_area .private_box p {
    width: 100%;
    height: 160px;
    border: 1px solid #171717;
    padding: 5px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .private_box p span {
    font-weight: 700;
  }
  .advice_area .private_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .private_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .private_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .advice_area .third_box {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .advice_area .third_box p {
    width: 100%;
    height: 200px;
    border: 1px solid #171717;
    padding: 5px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .third_box p span {
    font-weight: 700;
  }
  .advice_area .third_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .third_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .third_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
}
@media all and (min-width: 1440px) {
  .advice_area {
    width: 100%;
    height: auto;
    padding: 45px;
    background-color: whitesmoke;
  }
  .advice_area h2 {
    width: 100%;
    height: 32px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 50px;
  }
  .advice_area fieldset {
    width: 645px;
    height: auto;
    margin: auto;
    clear: both;
  }
  .advice_area .nom_area {
    float: left;
    width: 45%;
    height: 64px;
    margin-top: 10px;
  }
  .advice_area .nom_area > label {
    width: 100%;
    height: 22px;
  }
  .advice_area .nom_area input {
    width: 100%;
    height: 42px;
    border: 1px solid #171717;
  }
  .advice_area .office_area {
    float: right;
    width: 45%;
    height: 64px;
    margin-top: 10px;
  }
  .advice_area .office_area > label {
    width: 100%;
    height: 22px;
  }
  .advice_area .office_area input {
    width: 100%;
    height: 42px;
    border: 1px solid #171717;
  }
  .advice_area .office_addre {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .office_addre > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .office_addre input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .advice_box {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  .advice_area .advice_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .advice_box textarea {
    width: 100%;
    height: 126px;
    border: 1px solid #171717;
  }
  .advice_area .tel_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .tel_box > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .tel_box input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .mail_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .mail_box > label {
    width: 100%;
    height: 17px;
  }
  .advice_area .mail_box input {
    width: 100%;
    height: 37px;
    border: 1px solid #171717;
  }
  .advice_area .way_box {
    width: 100%;
    height: 54px;
    margin-top: 10px;
  }
  .advice_area .way_box p {
    width: 100%;
    height: 24px;
  }
  .advice_area .way_box .check_area {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 20px;
  }
  .advice_area .way_box .check_area .box_radio {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  .advice_area .way_box .check_area .box_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .way_box .check_area .box_radio label {
    width: auto;
    height: auto;
  }
  .advice_area .private_box {
    width: 100%;
    height: 160px;
  }
  .advice_area .private_box p {
    width: 100%;
    height: 160px;
    border: 1px solid #171717;
    padding: 10px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .private_box p span {
    font-weight: 700;
  }
  .advice_area .private_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .private_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .private_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .advice_area .third_box {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .advice_area .third_box p {
    width: 100%;
    height: 200px;
    border: 1px solid #171717;
    padding: 5px;
    overflow-y: auto;
    line-height: 30px;
  }
  .advice_area .third_box p span {
    font-weight: 700;
  }
  .advice_area .third_radio {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .advice_area .third_radio input {
    width: auto;
    height: auto;
  }
  .advice_area .third_radio label {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
}
@media all and (max-width: 767px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
@media all and (min-width: 1440px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

/*# sourceMappingURL=a_fursys_main.css.map */
