@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap .gnb {
    display: none;
  }
  .mobile_gnb_btn {
    width: 34px;
    height: 34px;
  }
  .mobile_gnb_btn > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #headBox .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 570px;
    background-color: #171717;
    padding: 13px;
  }
  #headBox .mobile_menu .close_btn {
    float: right;
    width: 22px;
    height: 32px;
  }
  #headBox .mobile_menu a {
    display: block;
  }
  #headBox .mobile_menu a i {
    color: #fff;
  }
  #headBox .mobile_menu ul {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: a;
  }
  #headBox .mobile_menu ul li {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
  }
  #headBox .mobile_menu ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background: linear-gradient(270deg, #ab67f7, #3438f2);
    margin: auto;
  }
  #headBox .mobile_menu .mo_bg {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 33%;
    background-color: #232323;
    opacity: 0.5;
  }
  #headBox .on {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap .gnb {
    display: none;
  }
  .mobile_gnb_btn {
    width: 34px;
    height: 34px;
  }
  .mobile_gnb_btn > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #headBox .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 570px;
    background-color: #171717;
    padding: 13px;
  }
  #headBox .mobile_menu .close_btn {
    float: right;
    width: 22px;
    height: 32px;
  }
  #headBox .mobile_menu a {
    display: block;
  }
  #headBox .mobile_menu a i {
    color: #fff;
  }
  #headBox .mobile_menu ul {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: a;
  }
  #headBox .mobile_menu ul li {
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 25px;
    padding: 13px;
    color: #fff;
    text-align: center;
  }
  #headBox .mobile_menu ul lia {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .mobile_menu ul li:last-of-type {
    border-radius: 10px;
    background: linear-gradient(270deg, #ab67f7, #3438f2);
  }
  #headBox .mobile_menu .mo_bg {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 33%;
    background-color: #232323;
    opacity: 0.5;
  }
  #headBox .on {
    display: block;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb {
    width: 700px;
    height: 100%;
  }
  .gnb > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .gnb > ul li {
    width: auto;
    height: 100%;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
  }
  .gnb > ul lia {
    width: 100%;
    height: 100%;
  }
  .gnb > ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background: linear-gradient(270deg, #ab67f7, #3438f2);
    color: #fff;
  }

  #headBox .menu_wrap .mobile_gnb_btn {
    display: none;
  }
  #headBox .mobile_menu {
    display: none;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 1440px;
    height: 60px;
    padding: 13px 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb {
    width: 700px;
    height: 100%;
  }
  .gnb > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .gnb > ul li {
    width: auto;
    height: 100%;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
  }
  .gnb > ul lia {
    width: 100%;
    height: 100%;
  }
  .gnb > ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background: linear-gradient(270deg, #ab67f7, #3438f2);
    color: #fff;
  }

  #headBox .menu_wrap .mobile_gnb_btn {
    display: none;
  }
  #headBox .mobile_menu {
    display: none;
  }
}
@media all and (max-width: 767px) {
  #main_view {
    position: relative;
    width: 100%;
    height: 870px;
    padding: 60px 13px;
    background-image: url(../../multi/img/mosax4T3Ch.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .slogan_box {
    width: 100%;
    height: 140px;
  }
  .slogan_box p {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }
  .slogan_box p span {
    font-size: 20px;
    font-weight: normal;
  }

  .sem_area {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 45px;
    background-image: linear-gradient(270deg, #D084FF 0.9%, #2E40FA 109.58%);
    border-radius: 60px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-weight: bold;
  }
  .sem_area a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .direct_arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    height: auto;
  }
  .direct_arrow a {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
    color: #fff;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #main_view {
    position: relative;
    width: 100%;
    height: 870px;
    padding: 60px 24px 0;
    background-image: url(../../multi/img/mosax4T3Ch.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .slogan_box {
    width: 100%;
    height: 288px;
  }
  .slogan_box p {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }
  .slogan_box p span {
    font-size: 20px;
    font-weight: normal;
  }

  .sem_area {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 45px;
    background-image: linear-gradient(270deg, #D084FF 0.9%, #2E40FA 109.58%);
    border-radius: 60px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-weight: bold;
  }
  .sem_area a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .direct_arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    height: auto;
  }
  .direct_arrow a {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
    color: #fff;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #main_view {
    position: relative;
    width: 100%;
    height: 900px;
    padding: 200px 100px 0;
    background-image: url(../../multi/img/mosax4T3Ch.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .slogan_box {
    width: 100%;
    height: 325px;
  }
  .slogan_box p {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }
  .slogan_box p span {
    font-size: 30px;
    font-weight: normal;
  }

  .sem_area {
    display: none;
  }

  .direct_arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    height: auto;
  }
  .direct_arrow a {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
    color: #fff;
  }
}
@media all and (min-width: 1440px) {
  #main_view {
    position: relative;
    width: 100%;
    height: 1070px;
    padding: 200px 100px 0;
    background-image: url(../../multi/img/mosax4T3Ch.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .slogan_box {
    width: 100%;
    height: 325px;
  }
  .slogan_box p {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
  }
  .slogan_box p span {
    font-size: 30px;
    font-weight: normal;
  }

  .sem_area {
    display: none;
  }

  .direct_arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    height: auto;
  }
  .direct_arrow a {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
    color: #fff;
  }
}
@media all and (max-width: 767px) {
  #seminar_end {
    width: 100%;
    height: 530px;
    background-color: #5BD9C1;
    padding: 50px 13px;
  }
  #seminar_end ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #seminar_end ul li {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
  #seminar_end ul li a {
    display: block;
    text-decoration: underline;
  }
  #seminar_end ul li:nth-child(1) {
    font-size: 30px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #seminar_end {
    width: 100%;
    height: 530px;
    background-color: #5BD9C1;
    padding: 50px 30px;
  }
  #seminar_end ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #seminar_end ul li {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
  #seminar_end ul li a {
    display: block;
    width: 210px;
    height: auto;
    text-decoration: underline;
  }
  #seminar_end ul li:nth-child(1) {
    font-size: 50px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #seminar_end {
    width: 100%;
    height: 738px;
    background-color: #5BD9C1;
    padding: 100px 70px;
  }
  #seminar_end ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #seminar_end ul li {
    width: 100%;
    height: auto;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: auto;
  }
  #seminar_end ul li a {
    display: block;
    width: 210px;
    height: auto;
    text-decoration: underline;
  }
  #seminar_end ul li:nth-child(1) {
    font-size: 70px;
  }
}
@media all and (min-width: 1440px) {
  #seminar_end {
    width: 100%;
    height: 738px;
    background-color: #5BD9C1;
    padding: 100px 150px;
  }
  #seminar_end ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #seminar_end ul li {
    width: 100%;
    height: auto;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: auto;
  }
  #seminar_end ul li a {
    display: block;
    width: 210px;
    height: auto;
    text-decoration: underline;
  }
  #seminar_end ul li:nth-child(1) {
    font-size: 70px;
  }
}
@media all and (max-width: 767px) {
  #program_int {
    width: 100%;
    height: auto;
    background-color: #262626;
    padding: 80px 13px 50px;
  }
  #program_int .int_pro_box {
    width: 100%;
    height: auto;
    font-size: 34px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .int_card {
    width: 100%;
    height: auto;
    padding: 0px 13px;
  }
  .int_card li {
    width: 100%;
    height: 340px;
    margin-bottom: 30px;
    background-color: #666;
    border-radius: 20px;
  }
  .int_card li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .int_card li:nth-child(1) {
    background-image: url(../../multi/img/campaign/section03_pic01_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(2) {
    background-image: url(../../multi/img/campaign/section03_pic02_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(3) {
    background-image: url(../../multi/img/campaign/section03_pic03_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(4) {
    background-image: url(../../multi/img/campaign/section03_pic04_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(5) {
    background-image: url(../../multi/img/campaign/section03_pic05_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  #program_int .link_addre {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #program_int {
    width: 100%;
    height: auto;
    background-color: #262626;
    padding: 80px;
  }
  #program_int .int_pro_box {
    width: 100%;
    height: auto;
    font-size: 34px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .int_card {
    width: 100%;
    height: 100%;
    padding: 0px 13px;
  }
  .int_card li {
    width: 100%;
    height: 754px;
    margin-bottom: 30px;
    background-color: #666;
    border-radius: 20px;
  }
  .int_card li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .int_card li:nth-child(1) {
    background-image: url(../../multi/img/campaign/section03_pic01_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(2) {
    background-image: url(../../multi/img/campaign/section03_pic02_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(3) {
    background-image: url(../../multi/img/campaign/section03_pic03_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(4) {
    background-image: url(../../multi/img/campaign/section03_pic04_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .int_card li:nth-child(5) {
    background-image: url(../../multi/img/campaign/section03_pic05_2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  #program_int .link_addre {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #program_int {
    width: 100%;
    height: auto;
    background-color: #262626;
    padding: 140px 140px 100px;
  }
  #program_int .int_pro_box {
    width: 100%;
    height: auto;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .int_card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .int_card li {
    width: 100%;
    height: 340px;
    margin-bottom: 30px;
    background-color: #666;
    border-radius: 20px;
  }
  .int_card li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .int_card li:nth-child(1) {
    background-image: url(../../multi/img/campaign/section03_pic01_2x.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: contain;
  }
  .int_card li:nth-child(2) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic02_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .int_card li:nth-child(3) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic03_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .int_card li:nth-child(4) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic04_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .int_card li:nth-child(5) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic05_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  #program_int .link_addre {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
  }
}
@media all and (min-width: 1440px) {
  #program_int {
    width: 100%;
    height: auto;
    background-color: #262626;
    padding: 140px 208px 50px;
  }

  .int_pro_box {
    width: 100%;
    height: auto;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .int_card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .int_card li {
    width: 100%;
    height: 340px;
    margin-bottom: 30px;
    background-color: #666;
    border-radius: 20px;
  }
  .int_card li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .int_card li:nth-child(1) {
    background-image: url(../../multi/img/campaign/section03_pic01_2x.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: contain;
  }
  .int_card li:nth-child(2) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic02_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .int_card li:nth-child(3) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic03_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .int_card li:nth-child(4) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic04_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .int_card li:nth-child(5) {
    width: 492px;
    height: 332px;
    background-image: url(../../multi/img/campaign/section03_pic05_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .link_addre {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  #footBox {
    width: 100%;
    height: auto;
    padding: 40px 13px;
    background-color: #1a1a1a;
  }
  #footBox ul {
    width: 100%;
    height: auto;
  }
  #footBox ul li {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: 600;
  }
  #footBox ul li:nth-child(1) {
    margin-bottom: 30px;
  }
  #footBox ul li:nth-child(2) {
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
    background-color: #444;
  }
  #footBox ul li:nth-child(2) a {
    display: block;
    width: 150px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox {
    width: 100%;
    height: auto;
    padding: 40px 30px;
    background-color: #1a1a1a;
  }
  #footBox ul {
    width: 100%;
    height: auto;
  }
  #footBox ul li {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: 600;
  }
  #footBox ul li:nth-child(1) {
    margin-bottom: 30px;
  }
  #footBox ul li:nth-child(2) {
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
  }
  #footBox ul li:nth-child(2) a {
    display: block;
    width: 150px;
    height: 100%;
    border-radius: 30px;
    border: 1px solid #8a8a8a;
    padding: 13px;
    box-sizing: border-box;
    text-align: center;
    line-height: 29px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #footBox {
    width: 100%;
    height: 308px;
    padding: 20px 80px;
    background-color: #1a1a1a;
  }
  #footBox ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  #footBox ul li {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: 600;
  }
  #footBox ul li:nth-child(1) {
    margin-bottom: 30px;
  }
  #footBox ul li:nth-child(2) {
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
  }
  #footBox ul li:nth-child(2) a {
    display: block;
    float: right;
    width: 150px;
    height: 100%;
    border: 1px solid #8a8a8a;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
  }
}
@media all and (min-width: 1440px) {
  #footBox {
    width: 100%;
    height: 308px;
    padding: 40px 150px;
    background-color: #1a1a1a;
  }
  #footBox ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  #footBox ul li {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: 600;
  }
  #footBox ul li:nth-child(1) {
    margin-bottom: 30px;
  }
  #footBox ul li:nth-child(2) {
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
  }
  #footBox ul li:nth-child(2) a {
    display: block;
    float: right;
    width: 150px;
    height: 100%;
    border: 1px solid #8a8a8a;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=b_campaign_sub.css.map */
