@charset "utf-8";



@media all and (max-width:767px){
  #solution {width: 100%; height: 1064px;
    & > div {width: 100%; height: 500px; margin-bottom: 50px;      
      background: {image:url(../../multi/img/ECO2.jpg);
      repeat:no-repeat;
      position:50% 50% ;
      size:cover;
    }}
    & > p   {width: 100%; height: 514px; background-color: $color__gray02;}
  }
}// 디자인기준 320px

@media all and (min-width:768px) and (max-width:1279px) {
  #solution {width: 100%; height: 1114px; padding: 50px;
    & >div {width: 100%; height: 500px; margin-bottom: 50px;
      background: {image:url(../../multi/img/ECO2.jpg);
      repeat:no-repeat;
      position:50% 50% ;
      size:cover;
      }
    }
    & >p {width: 100%; height: 464px; background-color: $color__gray02;}
  }
}// 디자인 기준 768px

@media all and (min-width:1280px) and (max-width:1439px) {
  #solution {position: relative; width: 100%; height: 600px; padding: 50px;
    & >div { width: 100%; height: 500px;       
      background: {image:url(../../multi/img/ECO2.jpg);
      repeat:no-repeat;
      position:50% 50% ;
      size:cover;
    }}
    & >p {position: absolute; bottom:50px; left:120px; z-index: 10;  width: 1040px; height: 220px; 
      background-color: rgba($color__gray02, 0.5);}
  }
}// 디자인 기준 1280px

@media all and (min-width:1440px) {
  #solution {position: relative; width: 100%; height: 600px; padding: 50px;
    & >div { width: 100%; height: 500px;
      background: {image:url(../../multi/img/ECO2.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
      }
    }
    & >p {position: absolute; bottom:50px; left:120px; z-index: 10;  width: 1200px; height: 220px; 
      background-color: rgba($color__gray02, 0.5);}
  }
}//디자인 기준 1440px