//Header.scss

#headBox {display: flex; justify-content: space-between;
  width: 100%; height: auto; 
  background-color: #E5CEE0;

  h1 {width: 300px; height: 100px; background-color: #E5CEE0; font-size: 30px; 
    line-height: 100px;}
  & ul {display: flex; justify-content: space-around; width: 600px; height: 100px; background-color: #E5CEE0;
    & li {width: auto; height: 100%; font-size: 30px; line-height: 100px; text-transform:uppercase;}
  }  
}