@charset "UTF-8";
/* best_wire_navien.css */

#wrap {width: 1440px; height: auto; min-height: 300px; 
  margin:auto; background-color: #eee;}

  /*common wirk place */
  header, section, article, footer { margin-bottom: 100px; }

  


  /* work_place */

  #header {position:fixed; left: 0; top: 0; z-index: 1000;
    width: 100%; height: 80px; background-color: #fff;
  }
  .main_box{width: 100%; height:100%; min-height: 30px; max-width: 1440px; margin: auto;}

    h1{ float:left; width: 220px; height: 32px; margin: auto; margin-top: 20px; margin-left: 100px;
    background-image: url(../../multi/img/Home_Logo.svg); 
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: contain;
}
.navigation{position: relative; float:right; width:auto; height: 30px; line-height: 30px; margin-top: 30px;}  

.gnb {float:left;  width: auto; height: auto;background-color: #fff;} 

.gnb div {text-indent: 10px;}

.gnb li {float:left; width: 100px; height: auto; min-height: 30px; text-align:center;
  padding-right: 10px;  margin-right: 40px; background-color:#fff;} 
  .gnb li:last-child {margin-right: 0;}
  .nav_list a {display: block;
    margin-top: 10px; text-align: center;
  width: 100px; height: auto;}

.nav_list {display:none; height:auto; background-color: #fff;}
.nav_list li  {width: 100px; margin-top: 30px; height: auto;}

.gnb:hover .nav_list {display: block;}

.nav_list li:hover {background-color: #C5D3D9;}


.unb {float:left; width: auto; height: 24px; }
.unb > div { float:left; width: 90px; height: 100%; padding: 0 5px; box-sizing: border-box; }
.unb a {display: block; width:100%; height: 30px; text-align: center;}

.search {float:right;  width: 40px; height: 40px; margin-top: -5px;}

.search button {width: 100%; height: 100%; }

.search_area { width: 100%; height: 100%;} 
/*display:none 으로 감추고 JS로 실현*/ 

.search_area fieldset {position:absolute; top: 30px; right: 0; width: auto; height: 80px; background-color: #eee;
  padding:10px; border: 1px solid #333; font-weight:bold;}
.search_area input {width: 150px; height: 30px;}
.search_area button {width: 50px; height: 30px; border: 1px solid #333;}

.search_area  button:hover { 
  transform:translateY(-5px); box-shadow:0 9px 4px rgba(120, 133, 180, 0.616); 
  background-color: #171717; color:#fff;}

  .search_area button:focus { background-color:#fda; font-size: 20px;}
  .search_area  button:active{ background-color:#C5D3D9; color: #171717;}  

/*best of best*/
  #bestofbest { position: relative; width: 100%; height: 580px; margin-top:80px;
    padding:0px 220px 50px; background-color: #FFDB66;
  }
  #bestofbest h2 {width: 215px; height: 50px; margin-bottom: 50px; background-color: #D4D0B8;}
  .best_box {width: 1000px; height: 400px; background-color: #393DE0;}
    .boiler_card {float:left; width: 1000px; height: 400px; background-color:#C5D3D9;}     
    .img_box {float:left; width: 400px; height: 400px; background-color: #333;}
    .text_box {float:right; width: 350px; height: 300px; margin-top: 25px; background-color:#C5D3D9;}
      .text_box dt {margin-left:10px; font-weight: bold; font-size: 28px; margin-top: 30px;}
      .text_box dd {margin-left:10px; font-weight:normal; font-size: 24px; margin-top: 30px;}
  .btn_i {position: absolute; top:50%; left:0; right: 0; z-index: 100;width:100%; height: 0; margin: auto; background-color: #333; 
  }
  .btn_i button {
    width: 40px; height: 40px; background-color: #fff;border-radius: 100%;
  }
  .btn_i .next {float:right;}
  .btn_i .prev {float:left;} 
  
  .next:hover {background-color: #fda;}
  .prev:hover {background-color: #fda;}
  .btn_i button:focus { background-color:#fda; font-size: 20px;}
  .btn_i button:active{ background-color:#C5D3D9; color: #171717;}  
 

/*  boilerbox */
  #boiler_box {
    width: 100%; height: 580px; background-color: #777;
    padding:0px 220px 100px;
  }
    #boiler_box h2 {
      width: 215px; height: 50px; margin-bottom: 50px; background-color: #D4D0B8;
    }
    .boiler_card_box {display:flex; justify-content: space-around;
      width: 1000px; height: 380px; background-color:#D4D0B8;
    }
    .boiler_card_box li {
      width: 200px; height: 280px; background-color:aqua; margin: auto;
    }





  #mat_box {
    width: 100%; height: 580px; background-color: #FB6ABF;
    padding:0px 220px 100px;
  }
    #mat_box h2 {
    width: 215px; height: 50px; margin-bottom: 50px; background-color: #D4D0B8;
    }
    .hot_water_mat_box {
    width: 1000px; height: 380px; background-color:#D4D0B8;
    }


  #smart_box {
    width: 100%; height: 580px; background-color: #FD931A;
    padding:0px 220px 100px;
  }
    #smart_box h2 {
    width: 215px; height: 50px; margin-bottom: 50px; background-color: #D4D0B8;
    }
    .smart_system_card_box {
    width: 1000px; height: 380px; background-color:#D4D0B8;
    }


  #footbox {width:100%; height: 250px; background-color: #dfdfdf;}
    .use_info {float:left;width: 100%; height: 60px;}
    .temp {float: left; width: auto; height: 60px;margin-left: 100px;}
    .temp li {float:left; width: 70px; height: 100%; margin-right: 30px; 
    text-align:center; line-height: 60px;}
    .com_info {float:left;width: 100%; height: 190px; background-color: #333;} 

