@charset "UTF-8";
@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 1280px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #C5D3D9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #C5D3D9;
    color: #171717;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #C5D3D9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #C5D3D9;
    color: #171717;
  }
}
@media all and (max-width: 767px) {
  #bg_box {
    width: 100%;
    height: 400px;
    background-color: #C5D3D9;
    margin: auto;
  }
  #bg_box h2 {
    width: 310px;
    height: 400px;
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    margin: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #bg_box {
    width: 100%;
    height: 400px;
    background-color: #C5D3D9;
    margin: auto;
  }
  #bg_box h2 {
    width: 600px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    margin: auto;
    line-height: 400px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #bg_box {
    width: 100%;
    height: 400px;
    background-color: #C5D3D9;
    margin: auto;
  }
  #bg_box h2 {
    width: 600px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    margin: auto;
    line-height: 400px;
  }
}
@media all and (min-width: 1440px) {
  #bg_box {
    width: 100%;
    height: 400px;
    background-color: #C5D3D9;
    margin: auto;
  }
  #bg_box h2 {
    width: 600px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    margin: auto;
    line-height: 400px;
  }
}
@media all and (max-width: 767px) {
  #title_box {
    width: 320px;
    height: 1510px;
    margin: auto;
    margin-bottom: 100px;
    border-bottom: 2px solid #171717;
  }
  #title_box > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
  }
  #title_box > ul li {
    width: 100px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
  }
  #title_box > ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #title_box > ul li:nth-child(2) {
    background-color: #171717;
    color: #fff;
  }
  #title_box > ul li:nth-child(3) {
    background-color: #171717;
    color: #fff;
  }
  #title_box p {
    width: 310px;
    height: 1060px;
    text-align: center;
    line-height: 30px;
  }
  #title_box .notice_box {
    width: 320px;
    height: 100px;
    padding: 0 10px;
  }
  #title_box .notice_box p {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #C5D3D9;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #title_box {
    width: 768px;
    height: 1120px;
    margin: auto;
    margin-bottom: 100px;
    border-bottom: 2px solid #171717;
  }
  #title_box > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
  }
  #title_box > ul li {
    width: 256px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
  }
  #title_box > ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #title_box > ul li:nth-child(2) {
    background-color: #171717;
    color: #fff;
  }
  #title_box > ul li:nth-child(3) {
    background-color: #171717;
    color: #fff;
  }
  #title_box p {
    width: 730px;
    height: 720px;
    text-align: center;
    line-height: 50px;
    margin: auto;
  }
  #title_box .notice_box {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    background-color: #C5D3D9;
  }
  #title_box .notice_box p {
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #title_box {
    width: 1280px;
    height: 1000px;
    border-bottom: 2px solid #171717;
  }
  #title_box > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
  }
  #title_box > ul li {
    width: 400px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
  }
  #title_box > ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #title_box > ul li:nth-child(2) {
    background-color: #171717;
    color: #fff;
  }
  #title_box > ul li:nth-child(3) {
    background-color: #171717;
    color: #fff;
  }
  #title_box p {
    width: 1240px;
    height: 600px;
    text-align: center;
    line-height: 70px;
    margin: auto;
  }
  #title_box .notice_box {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    background-color: #C5D3D9;
  }
  #title_box .notice_box p {
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (min-width: 1440px) {
  #title_box {
    width: 1440px;
    height: 1000px;
    border-bottom: 2px solid #171717;
  }
  #title_box > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
  }
  #title_box > ul li {
    width: 480px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
  }
  #title_box > ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #title_box > ul li:nth-child(2) {
    background-color: #171717;
    color: #fff;
  }
  #title_box > ul li:nth-child(3) {
    background-color: #171717;
    color: #fff;
  }
  #title_box p {
    width: 1240px;
    height: 600px;
    text-align: center;
    line-height: 70px;
    margin: auto;
  }
  #title_box .notice_box {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    background-color: #C5D3D9;
  }
  #title_box .notice_box p {
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (max-width: 767px) {
  #main_form {
    width: 310px;
    height: 1500px;
    margin: auto;
  }
  #main_form .name_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .name_area label {
    width: 100px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .name_area input {
    width: 210px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .mail_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .mail_area label {
    width: 100px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .mail_area input {
    width: 210px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .con_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .con_area label {
    width: 100px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .con_area input {
    width: 210px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .inner_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  #main_form .inner_area p {
    width: 100px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .inner_area textarea {
    width: 210px;
    height: 400px;
    box-sizing: border-box;
  }
  #main_form .addf_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .addf_area label {
    width: 100px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .addf_area input {
    width: 210px;
    height: 100px;
    border: 1px solid #171717;
    box-sizing: border-box;
    line-height: 100px;
  }
  #main_form .noti_area {
    width: 100%;
    height: 220px;
    background-color: #777;
    margin-bottom: 50px;
  }
  #main_form .noti_area p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
  }
  #main_form .btn_area {
    width: 100%;
    height: 100px;
    padding: 25px 50px;
  }
  #main_form .btn_area button {
    width: 100px;
    height: 50px;
    border: 1px solid #171717;
  }
  #main_form .btn_area button:last-child {
    background-color: #2D3C73;
    color: #fff;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #main_form {
    width: 768px;
    height: 1300px;
    margin: auto;
  }
  #main_form .name_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .name_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .name_area input {
    width: 530px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .mail_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .mail_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .mail_area input {
    width: 530px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .con_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .con_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .con_area input {
    width: 530px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .inner_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  #main_form .inner_area p {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .inner_area textarea {
    width: 530px;
    height: 400px;
    box-sizing: border-box;
  }
  #main_form .addf_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .addf_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .addf_area input {
    width: 530px;
    height: 100px;
    border: 1px solid #171717;
    box-sizing: border-box;
    line-height: 100px;
  }
  #main_form .noti_area {
    width: 100%;
    height: 100px;
    background-color: #777;
    margin-bottom: 30px;
  }
  #main_form .noti_area p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
  }
  #main_form .btn_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 25px 175px;
  }
  #main_form .btn_area button {
    width: 200px;
    height: 50px;
    border: 1px solid #171717;
  }
  #main_form .btn_area button:last-child {
    background-color: #2D3C73;
    color: #fff;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #main_form {
    width: 1240px;
    height: 1300px;
    margin: auto;
  }
  #main_form .name_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .name_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .name_area input {
    width: 1040px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .mail_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .mail_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .mail_area input {
    width: 1040px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .con_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .con_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .con_area input {
    width: 1040px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .inner_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  #main_form .inner_area p {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .inner_area textarea {
    width: 1040px;
    height: 400px;
    box-sizing: border-box;
  }
  #main_form .addf_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .addf_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .addf_area input {
    width: 1040px;
    height: 100px;
    border: 1px solid #171717;
    box-sizing: border-box;
    line-height: 100px;
  }
  #main_form .noti_area {
    width: 100%;
    height: 100px;
    background-color: #777;
    margin-bottom: 30px;
  }
  #main_form .noti_area p {
    width: 1040px;
    height: 100%;
    text-align: center;
    line-height: 30px;
    margin: auto;
  }
  #main_form .btn_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 25px 400px;
  }
  #main_form .btn_area button {
    width: 200px;
    height: 50px;
    border: 1px solid #171717;
  }
  #main_form .btn_area button:last-child {
    background-color: #2D3C73;
    color: #fff;
  }
}
@media all and (min-width: 1440px) {
  #main_form {
    width: 1240px;
    height: 1300px;
    margin: auto;
  }
  #main_form .name_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .name_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .name_area input {
    width: 1040px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .mail_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .mail_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .mail_area input {
    width: 1040px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .con_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .con_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .con_area input {
    width: 1040px;
    height: 100px;
    box-sizing: border-box;
  }
  #main_form .inner_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  #main_form .inner_area p {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .inner_area textarea {
    width: 1040px;
    height: 400px;
    box-sizing: border-box;
  }
  #main_form .addf_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  #main_form .addf_area label {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 100px;
  }
  #main_form .addf_area input {
    width: 1040px;
    height: 100px;
    border: 1px solid #171717;
    box-sizing: border-box;
    line-height: 100px;
  }
  #main_form .noti_area {
    width: 100%;
    height: 100px;
    background-color: #777;
    margin-bottom: 30px;
  }
  #main_form .noti_area p {
    width: 1040px;
    height: 100%;
    text-align: center;
    line-height: 30px;
    margin: auto;
  }
  #main_form .btn_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 25px 400px;
  }
  #main_form .btn_area button {
    width: 200px;
    height: 50px;
    border: 1px solid #171717;
  }
  #main_form .btn_area button:last-child {
    background-color: #2D3C73;
    color: #fff;
  }
}
@media all and (max-width: 767px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}
@media all and (min-width: 1440px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}

/*# sourceMappingURL=customerservice.css.map */
