@charset "UTF-8";
@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 1280px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #C5D3D9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #C5D3D9;
    color: #171717;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #C5D3D9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #C5D3D9;
    color: #171717;
  }
}
@media all and (max-width: 767px) {
  h2 {
    width: 100%;
    height: 188px;
    background-color: #F5F4F2;
    text-align: center;
    line-height: 80px;
    margin-top: 50px;
    font-size: 80px;
  }

  .main_news_image_area {
    width: 100%;
    height: 800px;
    background-color: #F5F4F2;
    border-top: 10px solid #171717;
    border-bottom: 10px solid #171717;
    padding: 100px 0;
  }
  .main_news_image_area .main_image {
    width: 100%;
    height: 600px;
    background-color: #333;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  h2 {
    width: 100%;
    height: 188px;
    background-color: #F5F4F2;
    text-align: center;
    line-height: 188px;
    font-size: 80px;
  }

  .main_news_image_area {
    width: 100%;
    height: 800px;
    background-color: #F5F4F2;
    border-top: 10px solid #171717;
    border-bottom: 10px solid #171717;
    padding: 100px 0;
  }
  .main_news_image_area .main_image {
    width: 100%;
    height: 600px;
    background-color: #333;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  h2 {
    width: 100%;
    height: 188px;
    background-color: #F5F4F2;
    text-align: center;
    line-height: 188px;
    font-size: 80px;
  }

  .main_news_image_area {
    width: 100%;
    height: 800px;
    background-color: #F5F4F2;
    border-top: 10px solid #171717;
    border-bottom: 10px solid #171717;
    padding: 100px 0;
  }
  .main_news_image_area .main_image {
    width: 1280px;
    height: 600px;
    background-color: #333;
  }
}
@media all and (min-width: 1440px) {
  h2 {
    width: 100%;
    height: 188px;
    background-color: #F5F4F2;
    text-align: center;
    line-height: 188px;
    font-size: 80px;
  }

  .main_news_image_area {
    width: 100%;
    height: 800px;
    background-color: #F5F4F2;
    border-top: 10px solid #171717;
    border-bottom: 10px solid #171717;
    padding: 100px 0;
  }
  .main_news_image_area .main_image {
    width: 1280px;
    height: 600px;
    background-color: #333;
    margin: auto;
  }
}
@media all and (max-width: 767px) {
  #news_01 {
    width: 100%;
    height: 820px;
    padding: 10px;
    background-color: #666;
  }
  #news_01 > div {
    width: 100%;
    height: 800px;
    background-color: #777;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #news_01 {
    width: 500px;
    height: 820px;
    padding: 10px 100px;
    background-color: #666;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_01 > div {
    width: 100%;
    height: 800px;
    background-color: #777;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #news_01 {
    width: 1280px;
    height: 500px;
    padding: 100px 255px;
    background-color: #666;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_01 > div {
    width: 100%;
    height: 300px;
    background-color: #777;
  }
}
@media all and (min-width: 1440px) {
  #news_01 {
    width: 1280px;
    height: 500px;
    padding: 100px 318px;
    background-color: #666;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_01 > div {
    width: 100%;
    height: 300px;
    background-color: #777;
  }
}
@media all and (max-width: 767px) {
  #news_02 {
    width: 100%;
    height: 700px;
    background-color: #666;
    padding: 66px 0;
  }
  #news_02 > div {
    width: 100%;
    height: 568px;
  }
  #news_02 > div > div {
    width: 100%;
    height: 250px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_02 > div > p {
    width: 100%;
    height: 268px;
    background-color: #eee;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #news_02 {
    width: 500px;
    height: 700px;
    background-color: #666;
    padding: 66px 50px;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_02 > div {
    width: 100%;
    height: 568px;
  }
  #news_02 > div > div {
    width: 100%;
    height: 250px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_02 > div > p {
    width: 100%;
    height: 268px;
    background-color: #eee;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #news_02 {
    width: 500px;
    height: 700px;
    background-color: #666;
    padding: 66px 50px;
  }
  #news_02 > div {
    width: 100%;
    height: 568px;
  }
  #news_02 > div > div {
    width: 100%;
    height: 250px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_02 > div > p {
    width: 100%;
    height: 268px;
    background-color: #eee;
  }
}
@media all and (min-width: 1440px) {
  #news_02 {
    width: 550px;
    height: 700px;
    background-color: #666;
    padding: 100px 50px;
  }
  #news_02 > div {
    width: 100%;
    height: 500px;
  }
  #news_02 > div > div {
    width: 100%;
    height: 250px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_02 > div > p {
    width: 100%;
    height: 200px;
    background-color: #eee;
  }
}
@media all and (max-width: 767px) {
  #news_03 {
    width: 100%;
    height: 1180px;
    background-color: #dfdfdf;
  }
  #news_03 > div {
    width: 100%;
    height: 570px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_03 > p {
    width: 100%;
    height: 560px;
    background-color: #eee;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #news_03 {
    width: 768px;
    height: 700px;
    background-color: #dfdfdf;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_03 > div {
    float: left;
    width: 426px;
    height: 100%;
    background-color: #333;
  }
  #news_03 > p {
    float: right;
    width: 290px;
    height: 500px;
    background-color: #eee;
    margin-top: 100px;
    margin-right: 15px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #news_03 {
    position: absolute;
    top: 1768px;
    right: 0;
    float: right;
    width: 768px;
    height: 700px;
    background-color: #dfdfdf;
  }
  #news_03 > div {
    float: left;
    width: 426px;
    height: 100%;
    background-color: #333;
  }
  #news_03 > p {
    float: right;
    width: 290px;
    height: 500px;
    background-color: #eee;
    margin-top: 100px;
    margin-right: 15px;
  }
}
@media all and (min-width: 1440px) {
  #news_03 {
    position: absolute;
    top: 1768px;
    right: 0;
    float: right;
    width: 768px;
    height: 700px;
    background-color: #dfdfdf;
  }
  #news_03 > div {
    float: left;
    width: 426px;
    height: 100%;
    background-color: #333;
  }
  #news_03 > p {
    float: right;
    width: 290px;
    height: 500px;
    background-color: #eee;
    margin-top: 100px;
    margin-right: 15px;
  }
}
@media all and (max-width: 767px) {
  #news_04 {
    width: 100%;
    height: 1432px;
    background-color: #777;
  }
  #news_04 > div {
    width: 100%;
    height: 704px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_04 > p {
    width: 100%;
    height: 679px;
    background-color: #eee;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #news_04 {
    width: 100%;
    height: 1000px;
    background-color: #777;
    padding: 50px 30px;
  }
  #news_04 > div {
    width: 100%;
    height: 400px;
    background-color: #333;
    margin-bottom: 50px;
  }
  #news_04 > p {
    width: 100%;
    height: 450px;
    background-color: #eee;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #news_04 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
    background-color: #777;
    padding: 50px;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_04 > div {
    width: 400px;
    height: 200px;
    background-color: #333;
  }
  #news_04 > p {
    width: 400px;
    height: 200px;
    background-color: #eee;
  }
}
@media all and (min-width: 1440px) {
  #news_04 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
    background-color: #777;
    padding: 50px;
    margin: auto;
    margin-bottom: 100px;
  }
  #news_04 > div {
    width: 400px;
    height: 200px;
    background-color: #333;
  }
  #news_04 > p {
    width: 400px;
    height: 200px;
    background-color: #eee;
  }
}
@media all and (max-width: 767px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}
@media all and (min-width: 1440px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}

/*# sourceMappingURL=eco_news.css.map */
