@charset "UTF-8";
@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 1280px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #C5D3D9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #C5D3D9;
    color: #171717;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: aliceblue;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #C5D3D9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #C5D3D9;
    color: #171717;
  }
}
@media all and (max-width: 767px) {
  #eco_summary_01 {
    width: 100%;
    height: 950px;
    background-color: #fda;
    padding: 100px 0;
  }

  .summary_img_Box {
    width: 100%;
    height: 500px;
  }
  .summary_img_Box > li {
    width: 100%;
    height: 300px;
    background-color: #666;
    margin-bottom: 100px;
  }
  .summary_img_Box > li:last-of-type {
    width: 100%;
    height: 100px;
    margin-bottom: 0;
  }

  .indi_box {
    width: 320px;
    height: 250px;
    padding: 100px 35px;
    margin: auto;
  }

  .indicator {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
  }
  .indicator li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
  }
  .indicator li:nth-of-type(1) {
    background-color: #666;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #eco_summary_01 {
    width: 100%;
    height: 950px;
    background-color: #fda;
    padding: 100px 42px;
  }

  .summary_img_Box {
    width: 100%;
    height: 500px;
  }
  .summary_img_Box > li {
    width: 100%;
    height: 300px;
    background-color: #666;
    margin-bottom: 100px;
  }
  .summary_img_Box > li:last-of-type {
    width: 100%;
    height: 100px;
    margin-bottom: 0;
  }

  .indi_box {
    width: 320px;
    height: 250px;
    padding: 100px 35px;
    margin: auto;
  }

  .indicator {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
  }
  .indicator li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
  }
  .indicator li:nth-of-type(1) {
    background-color: #666;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #eco_summary_01 {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #fda;
    padding: 100px 0;
  }

  .summary_img_Box {
    width: 1000px;
    height: 600px;
    padding: 50px 100px;
    margin: auto;
  }
  .summary_img_Box > li {
    width: 100%;
    height: 300px;
    background-color: #666;
    margin-bottom: 100px;
  }
  .summary_img_Box > li:last-of-type {
    width: 100%;
    height: 100px;
    margin-bottom: 0;
  }

  .indi_box {
    position: absolute;
    top: 275px;
    left: 1130px;
    width: 100px;
    height: 250px;
  }

  .indicator {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .indicator > li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
    margin: auto;
  }
  .indicator li:nth-of-type(1) {
    background-color: #666;
  }
}
@media all and (min-width: 1440px) {
  #eco_summary_01 {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #fda;
    padding: 100px 220px;
  }

  .summary_img_Box {
    width: 1000px;
    height: 600px;
    padding: 50px 100px;
  }
  .summary_img_Box > li {
    width: 100%;
    height: 300px;
    background-color: #666;
    margin-bottom: 100px;
  }
  .summary_img_Box > li:last-of-type {
    width: 100%;
    height: 100px;
    margin-bottom: 0;
  }

  .indi_box {
    position: absolute;
    top: 275px;
    left: 1230px;
    width: 100px;
    height: 250px;
  }

  .indicator {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .indicator > li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
    margin: auto;
  }
  .indicator li:nth-of-type(1) {
    background-color: #666;
  }
}
section {
  margin-bottom: 0;
}

@media all and (max-width: 767px) {
  #eco_summary_02 {
    width: 100%;
    height: 850px;
    background-color: #fad;
    padding-top: 100px;
  }

  h2 {
    width: 300px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .summary_wrap {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .summary_box {
    display: flex;
    justify-content: space-between;
    width: 300%;
    height: 400px;
    background-color: #fad;
    padding: 60px;
  }
  .summary_box li {
    width: 200px;
    height: 280px;
    background-color: #333;
  }

  .indicator_02 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    padding: 100px 35px;
  }
  .indicator_02 li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
  }
  .indicator_02 li:nth-of-type(2) {
    background-color: #555;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #eco_summary_02 {
    width: 100%;
    height: 850px;
    background-color: #fad;
    padding-top: 100px;
  }

  h2 {
    width: 300px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .summary_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    background-color: #fad;
  }
  .summary_box li {
    width: 200px;
    height: 280px;
    background-color: #333;
  }

  .indicator_02 {
    display: flex;
    justify-content: space-around;
    width: 320px;
    height: 250px;
    padding: 100px 35px;
    margin: auto;
  }
  .indicator_02 li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
  }
  .indicator_02 li:nth-of-type(2) {
    background-color: #555;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #eco_summary_02 {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #fad;
    padding: 100px 0;
  }

  h2 {
    width: 300px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .summary_box {
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    background-color: #fad;
    margin: auto;
  }
  .summary_box li {
    width: 200px;
    height: 280px;
    background-color: #333;
    margin: auto;
  }

  .indicator_02 {
    position: absolute;
    top: 260px;
    right: -25px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 240px;
    height: 300px;
    padding: 35px 70px;
    margin: auto;
  }
  .indicator_02 li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
    margin: auto;
  }
  .indicator_02 li:nth-of-type(2) {
    background-color: #555;
  }
}
@media all and (min-width: 1440px) {
  #eco_summary_02 {
    position: relative;
    width: 100%;
    height: 850px;
    background-color: #fad;
    padding: 100px 220px;
  }

  h2 {
    width: 300px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .summary_box {
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    background-color: #fad;
    margin: auto;
  }
  .summary_box li {
    width: 200px;
    height: 280px;
    background-color: #333;
    margin: auto;
  }

  .indicator_02 {
    position: absolute;
    top: 260px;
    right: 40px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 240px;
    height: 300px;
    padding: 35px 70px;
    margin: auto;
  }
  .indicator_02 li {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
    margin: auto;
  }
  .indicator_02 li:nth-of-type(2) {
    background-color: #555;
  }
}
@media all and (max-width: 767px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}
@media all and (min-width: 1440px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}

/*# sourceMappingURL=eco_summary.css.map */
