@charset "UTF-8";
/* newpd_wire_navien.css*/

/*work palace*/


 /** common work **/
#wrap {
  width: 1440px; height: auto; min-height:500px;
  margin: auto; 
  background-color: #fff; padding-top: 80px;}

  h2 {text-align: center; font-size: 32px; font-weight: bold;}

  h3 { margin-bottom: 40px; font-size: 28px; text-align: center;}

  .btn_i {position: absolute; top:50%; left:0; right: 0; z-index: 100;width:100%; height: 0; margin: auto; background-color: #333; 
  }
  .btn_i button {
    width: 40px; height: 40px; background-color: #fff;border-radius: 100%;
  }
  .btn_i .next {float:right;}
  .btn_i .prev {float:left;} 
  
  .next:hover {background-color: #fda;}
  .prev:hover {background-color: #fda;}
  /* button*/

  dd > a {display:block; width: 150px; height: 30px; margin-top: 15px;
    border: 1px solid #171717;
    background-color: #eee; font-weight: bold; text-align: center;}
  /*see more*/  

  .md_wrap { overflow:hidden; width: 900px; height: 350px;}
  .md_cover { width: 400%; height: 350px;} /*---mdwrap,mdcover---*/

/*---------------------------------------------------------------------*/

/* head Box*/

#mainBox {position:fixed; left: 0; top: 0; z-index: 1000;
  width: 100%; height: 80px;background-color: #fff;
  margin:auto; padding:25px; box-sizing: border-box; box-shadow: 0px 3px  2px #333;}

  .main_box{  position: relative; width: 100%; height:100%; min-height: 30px; max-width: 1440px; margin: auto;}

  h1 {float:left; width: 220px; height: 32px; margin: auto; margin-left: 100px;}

  h1 img {width: 220px ; height: 28px;}



  .navigation{float:right; width:auto; height: 30px; line-height: 30px;}  

  .gnb {float:left;  width: auto; height: auto;background-color: #fff;} 
  
  .gnb div {text-indent: 10px;}

  .gnb li {float:left; width: 100px; height: auto; min-height: 30px; text-align:center;
    padding-right: 10px;  margin-right: 40px; background-color:#fff;} 
    .gnb li:last-child {margin-right: 0;}
    .nav_list a {display: block;
      margin-top: 10px; text-align: center;
    width: 100px; height: auto;}

  .nav_list {display:none; height:auto; background-color: #fff;}
  .nav_list li  {width: 100px; margin-top: 30px; height: auto;}
  
  .gnb:hover .nav_list {display: block;}

  .nav_list li:hover {background-color: #C5D3D9;}
  

  .unb {float:left; width: auto; height: 24px; }
  .unb > div { float:left; width: 90px; height: 100%; padding: 0 5px; box-sizing: border-box; }
  .unb a {display: block; width:100%; height: 30px; text-align: center;}

  .search {float:right;  width: 40px; height: 40px; margin-top: -5px;}

  .search button {width: 100%; height: 100%; }

  .search_area {display: none; width: 100%; height: 100%;}  

  .search_area fieldset {position:absolute; top: 40px; right: 0; width: auto; height: 80px; background-color: #eee;
    padding:10px; border: 1px solid #333; font-weight:bold;}
  .search_area input {width: 150px; height: 30px;}
  .search_area button {width: 50px; height: 30px; border: 1px solid #333;}

  .search_area  button:hover { 
    transform:translateY(-5px); box-shadow:0 9px 4px rgba(120, 133, 180, 0.616); 
    background-color: #171717; color:#fff;}

    .search_area button:focus { background-color:#fda; font-size: 20px;}
    .search_area  button:active{ background-color:#C5D3D9; color: #171717;}  

    
/*-----------------------------------------------------------*/

/*video commercial*/

#mov_commercial {width: 100%; height: auto;}

.movie {  
  overflow: hidden;
  position: relative;
  width: 100%; height: 600px;
  background-color: #ddd;
  background-image: url(../../multi/img/art_15855146784668_5fd194.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:cover;
}

.com_video {  
  position: absolute; z-index: 1;
  top: 50%; left:50%;
  width: 101%; height: auto;  
  min-width:100%; min-height:100%;
  max-width:200%; max-height:200%;
  transform:translate(-50%, -50%);  
}
/*-----------------------------------------------------------*/

/*slogan box*/

#slogan_box {width: 100%; height: auto; min-height: 400px; background-color: #E8EFEE;
padding:75px 220px; box-sizing: border-box; }

    .slogan_card {width: 100%; height: 250px; 
      background-color: #171717;
      background-image: url(../../multi/img/slogan.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
      

/*-----------------------------------------------------------*/

/*md_box_01*/

#md_box_01 {width: 100%; height: auto; min-height: 1600px;padding:100px 100px 100px; box-sizing: border-box;}

  .boiler_box{position:relative; width: 100%; height: 600px;
    padding:50px 175px  ; margin-top: 100px; margin-bottom: 100px;
    background-color: #C5D3D9;}

    
    .boiler_card {float:left; width: 900px; height: 350px; background-color:#C5D3D9;}     
      .img_box {float:left; width: 350px; height: 350px; background-color: #333;}
      .text_box {float:right; width: 350px; height: 300px; margin-top: 25px; background-color:#C5D3D9;}
        .text_box dt {margin-left:10px; font-weight: bold; font-size: 28px; margin-top: 30px;}
        .text_box dd {margin-left:10px; font-weight:normal; font-size: 24px; margin-top: 30px;}

  .hotmat_box {position:relative; width: 100%; height: 600px;
    padding:50px 175px; box-sizing: border-box; margin-bottom: 100px;
    background-color: #C5D3D9;} 

  .hotmat_card { float:left; width: 900px; height: 350px; background-color: #C5D3D9;} 
    .img_box2 {float:left; width: 350px; height: 350px; background-color: #333;}
    .text_box2 {float:right; width: 350px; height: 300px; margin-top: 25px; background-color: #C5D3D9;}
      .text_box2 dt {font-weight: bold; font-size: 28px; margin-top: 30px;}
      .text_box2 dd {font-weight:normal; font-size: 24px; margin-top: 30px;}

/**버튼은 최상단 common work에 위치 함**/
/*** 커버와 랩관련 코드는 최상단 common work에 위치함 ***/  

/*-----------------------------------------------------------*/

/*developer_story*/

#developer_story {width: 100%; height: auto; min-height: 500px; 
  padding:100px; box-sizing: border-box;
  background-color: #333;}

  .develop_card {width: 100%; height: 300px; 
  padding: 50px 0px; box-sizing: border-box;}

    .develop_text { float:right; width:400px; height: 200px; color:#fff;
      margin-right:200px ;}
      .develop_text dt {font-weight: bold; font-size: 28px; margin-top: 10px;}
      .develop_text dd {font-weight:normal; font-size: 24px; margin-top: 10px;} 

/*-----------------------------------------------------------*/

/*md_box_02 */

#md_box_02 {width: 100%; height: auto; min-height: 800px;
  padding:200px 100px; box-sizing: border-box; 
  background-color: #fff;}
  
  .smart_box {position: relative; width: 100%; height: 600px;
    padding:50px 175px 125px; box-sizing: border-box;background-color: #E8EFEE;}

    .smart_box h2 {margin-bottom: 50px;}

    .smart_card {float:left; width: 900px; height: 350px; background-color:#E8EFEE;}
      .img_box3 {float:left; width: 350px; height: 350px; background-color: #333;}
      .text_box3 {float:right; width: 350px; height: 300px; margin-top: 25px; background-color: #eee;}
        .text_box3 dt {font-weight: bold; font-size: 28px; margin-top: 30px;}
        .text_box3 dd {font-weight:normal; font-size: 24px; margin-top: 30px;}

/**버튼은 최상단 common work에 위치 함**/
/*** 커버와 랩관련 코드는 최상단 common work에 위치함 ***/  

/*-----------------------------------------------------------*/

/*footbox*/

#footbox {width:100%; height: 250px; background-color: #dfdfdf;}
  .use_info {float:left;width: 100%; height: 60px;}
  .temp {float: left; width: auto; height: 60px;margin-left: 100px;}
  .temp li {float:left; width: 70px; height: 100%; margin-right: 30px; 
  text-align:center; line-height: 60px;}
  .com_info {float:left;width: 100%; height: 190px; background-color: #333;}
  
