@charset "UTF-8";
/* newpd_wire_navien.css*/

/*work palace*/

/* head Box*/

#wrap {
  width: 1440px; height: auto; min-height:31.25rem;
  margin: auto; 
  background-color: #fff; padding-top: 5rem;}

#headBox {position:fixed; left: 0; top: 0; z-index: 1000;
  width: 100%; height: 5rem;background-color: #fff;
  margin:auto; padding:1.5625rem; box-sizing: border-box; box-shadow: 0px 3px  2px #333;}

  .header{  position: relative; width: 100%; max-width: 90rem; margin: auto;}

  h1 {float:left; width: 13.75rem; height: 2rem; margin: auto; margin-left: 6.25rem;}

  h1 img {width: 13.75rem ; height: 1.75rem;}

  .menu button {width: 100%; height: 100%;}

  .menu{  position:absolute; top:0; left:0;
  width: 2rem; height: 2rem;  margin-left:1.25rem;}

  .navigation{float:right; width:auto; height: 1.875rem; }  

  .gnb {float:left; width: auto; height: 100%;}

  .unb {float:left; margin-left:3.75rem; width: auto; height: 100%;}

  .navigation li {float:left; width: 4.375rem; height: 100%; margin-right: 1.875rem; border-bottom: 0.0625rem solid #333;}
  
  .navigation li a { display:block; width: 100%; height: 100%; text-align: center; line-height:1.875rem;}  

  .search {float: right; width: 2rem; height: 2rem; }

  .search button {width: 100%; height: 100%;}  
/*-----------------------------------------------------------*/

/*video commercial*/

#mov_commercial {width: 100%; height: auto; min-height: 600px; background-color: #eee;}

/*-----------------------------------------------------------*/

/*slogan box*/

#slogan_box {width: 100%; height: auto; min-height: 400px; background-color: #eee;
padding:75px 220px; box-sizing: border-box; }

    .slogan_card {width: 100%; height: 250px; background-color: #AA72BD;}

/*-----------------------------------------------------------*/

/*md_box_01*/

#md_box_01 {width: 100%; height: auto; min-height: 1600px;padding:200px 100px 100px; box-sizing: border-box;
  background-color:#eee;}

  .boiler_box{width: 100%; height: 600px;
    padding:125px 175px;  margin-bottom: 100px;
    background-color: #8559D6;}

    .boiler_card {width: 100%; height: 350px; background-color:#BAC58E;} 

  .hotmat_box {width: 100%; height: 600px;
    padding:125px 175px; box-sizing: border-box; margin-bottom: 100px;
    background-color: #8559D6;} 

  .hotmat_card { width: 100%; height: 350px; background-color: #949D54;} 


  

/*-----------------------------------------------------------*/

/*developer_story*/

#developer_story {width: 100%; height: auto; min-height: 500px; 
  padding:100px; box-sizing: border-box;
  background-color: #eee;}

  .develop_card {width: 100%; height: 300px; 
  padding: 50px 0px; box-sizing: border-box;  background-color: #D29D94;}

    .develop_text { float:right; width:400px; height: 200px;
      margin-right:200px ; background-color: #72C2E2;}

/*-----------------------------------------------------------*/

/*md_box_02 */

#md_box_02 {width: 100%; height: auto; min-height: 800px;
  padding:100px; box-sizing: border-box; 
  background-color: #eee;}
  
  .smart_box {width: 100%; height: 600px;
    padding:125px 175px; box-sizing: border-box; margin-bottom: 100px;background-color: #76BEA1;}

    .smart_card {width: 100%; height: 350px; background-color:#53DDCE;}

/*-----------------------------------------------------------*/

/*footbox*/

#footbox {width:100%; height: 15.625rem; background-color: #dfdfdf;}
  .use_info {float:left;width: 100%; height: 3.75rem;}
  .temp {float: left; width: auto; height: 3.75rem;margin-left: 6.25rem;}
  .temp li {float:left; width: 4.375rem; height: 100%; margin-right: 1.875rem; 
  text-align:center; line-height: 3.75rem;}
  .com_info {float:left;width: 100%; height: 11.875rem; background-color: #333;}
  
