@charset "UTF-8";
/* newpd_wire_navien.css*/

/*work palace*/


 /** common work **/
#wrap {
  width: 1440px; height: auto; min-height:31.25rem;
  margin: auto; 
  background-color: #fff; padding-top: 5rem;}

  h2 {text-align: center; font-size: 32px; font-weight: bold;}

  h3 { margin-bottom: 40px; font-size: 28px; text-align: center;}

  .btn_i {position: absolute; top:50%; left:0; right: 0; z-index: 100;width:100%; height: 0; margin: auto; background-color: #333; 
  }
  .btn_i button {
    width: 2.5rem; height: 2.5rem; background-color: #fff;border-radius: 100%;
  }
  .btn_i .next {float:right;}
  .btn_i .prev {float:left;} 
  
  .next:hover {background-color: #fda;}
  .prev:hover {background-color: #fda;}
  /* button*/

  dd > a {display:block; width: 150px; height: 20px; margin-top: 15px;
    border: 1px solid #171717;
    background-color: #eee; font-weight: bold; text-align: center;}
  /*see more*/  

  .md_wrap { overflow:hidden; width: 900px; height: 350px;}
  .md_cover { width: 400%; height: 350px;} /*---mdwrap,mdcover---*/

/*---------------------------------------------------------------------*/

/* head Box*/

#mainBox {position:fixed; left: 0; top: 0; z-index: 1000;
  width: 100%; height: 5rem;background-color: #fff;
  margin:auto; padding:1.5625rem; box-sizing: border-box; box-shadow: 0px 3px  2px #333;}

  .main_box{  position: relative; width: 100%; max-width: 90rem; margin: auto;}

  h1 {float:left; width: 13.75rem; height: 2rem; margin: auto; margin-left: 6.25rem;}

  h1 img {width: 13.75rem ; height: 1.75rem;}

  .menu button {width: 100%; height: 100%;}

  .menu{  position:absolute; top:0; left:0;
  width: 2rem; height: 2rem;  margin-left:1.25rem;}

  .navigation{float:right; width:auto; height: 1.875rem; }  

  .gnb {float:left; width: auto; height: 100%;}

  .unb {float:left; margin-left:3.75rem; width: auto; height: 100%;}

  .navigation li {float:left; width: 4.375rem; height: 100%; margin-right: 1.875rem; border-bottom: 0.0625rem solid #333;}
  
  .navigation li a { display:block; width: 100%; height: 100%; text-align: center; line-height:1.875rem;}  

  .search {float: right; width: 2rem; height: 2rem; }

  .search button {width: 100%; height: 100%;}  
/*-----------------------------------------------------------*/

/*video commercial*/

#mov_commercial {width: 100%; height: auto;}

.movie {  
  overflow: hidden;
  position: relative;
  width: 100%; height: 600px;
  background-color: #ddd;
  background-image: url(../../multi/img/art_15855146784668_5fd194.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:cover;
}

.com_video {  
  position: absolute; z-index: 1;
  top: 50%; left:50%;
  width: 101%; height: auto;  
  min-width:100%; min-height:100%;
  max-width:200%; max-height:200%;
  transform:translate(-50%, -50%);  
}
/*-----------------------------------------------------------*/

/*slogan box*/

#slogan_box {width: 100%; height: auto; min-height: 400px; background-color: #E8EFEE;
padding:75px 220px; box-sizing: border-box; }

    .slogan_card {width: 100%; height: 250px; 
      background-color: #171717;
      background-image: url(../../multi/img/slogan.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
      

/*-----------------------------------------------------------*/

/*md_box_01*/

#md_box_01 {width: 100%; height: auto; min-height: 1600px;padding:100px 100px 100px; box-sizing: border-box;}

  .boiler_box{position:relative; width: 100%; height: 600px;
    padding:50px 175px  ; margin-top: 100px; margin-bottom: 100px;
    background-color: #C5D3D9;}

    
    .boiler_card {float:left; width: 900px; height: 350px; background-color:#C5D3D9;}     
      .img_box {float:left; width: 350px; height: 350px; background-color: #333;}
      .text_box {float:right; width: 350px; height: 300px; margin-top: 25px; background-color:#C5D3D9;}
        .text_box dt {margin-left:10px; font-weight: bold; font-size: 28px; margin-top: 30px;}
        .text_box dd {margin-left:10px; font-weight:normal; font-size: 24px; margin-top: 30px;}

  .hotmat_box {position:relative; width: 100%; height: 600px;
    padding:50px 175px; box-sizing: border-box; margin-bottom: 100px;
    background-color: #C5D3D9;} 

  .hotmat_card { float:left; width: 900px; height: 350px; background-color: #C5D3D9;} 
    .img_box2 {float:left; width: 350px; height: 350px; background-color: #333;}
    .text_box2 {float:right; width: 350px; height: 300px; margin-top: 25px; background-color: #C5D3D9;}
      .text_box2 dt {font-weight: bold; font-size: 28px; margin-top: 30px;}
      .text_box2 dd {font-weight:normal; font-size: 24px; margin-top: 30px;}

/**버튼은 최상단 common work에 위치 함**/
/*** 커버와 랩관련 코드는 최상단 common work에 위치함 ***/  

/*-----------------------------------------------------------*/

/*developer_story*/

#developer_story {width: 100%; height: auto; min-height: 500px; 
  padding:100px; box-sizing: border-box;
  background-color: #333;}

  .develop_card {width: 100%; height: 300px; 
  padding: 50px 0px; box-sizing: border-box;}

    .develop_text { float:right; width:400px; height: 200px; color:#fff;
      margin-right:200px ;}
      .develop_text dt {font-weight: bold; font-size: 28px; margin-top: 10px;}
      .develop_text dd {font-weight:normal; font-size: 24px; margin-top: 10px;} 

/*-----------------------------------------------------------*/

/*md_box_02 */

#md_box_02 {width: 100%; height: auto; min-height: 800px;
  padding:200px 100px; box-sizing: border-box; 
  background-color: #fff;}
  
  .smart_box {position: relative; width: 100%; height: 600px;
    padding:50px 175px 125px; box-sizing: border-box;background-color: #E8EFEE;}

    .smart_box h2 {margin-bottom: 50px;}

    .smart_card {float:left; width: 900px; height: 350px; background-color:#E8EFEE;}
      .img_box3 {float:left; width: 350px; height: 350px; background-color: #333;}
      .text_box3 {float:right; width: 350px; height: 300px; margin-top: 25px; background-color: #eee;}
        .text_box3 dt {font-weight: bold; font-size: 28px; margin-top: 30px;}
        .text_box3 dd {font-weight:normal; font-size: 24px; margin-top: 30px;}

/**버튼은 최상단 common work에 위치 함**/
/*** 커버와 랩관련 코드는 최상단 common work에 위치함 ***/  

/*-----------------------------------------------------------*/

/*footbox*/

#footbox {width:100%; height: 15.625rem; background-color: #dfdfdf;}
  .use_info {float:left;width: 100%; height: 3.75rem;}
  .temp {float: left; width: auto; height: 3.75rem;margin-left: 6.25rem;}
  .temp li {float:left; width: 4.375rem; height: 100%; margin-right: 1.875rem; 
  text-align:center; line-height: 3.75rem;}
  .com_info {float:left;width: 100%; height: 11.875rem; background-color: #333;}
  
