@charset "UTF-8";
/*product_site.css*/

/* smartphone*/
@media all and (max-width:767px){

  #wrap {width:320px; min-width:320px; min-height:3826px;}
    #headBox {width:100%; height: 80px; background-color: aqua; padding:10px;}
      .header {width: 300px; height: 60px; background-color: #fff; padding:10px 10px;}
      .menu_btn {float:left; margin-top: 10px;}
      h1{width: 220px; height: 32px; margin:auto;
        background-image: url(../../multi/img/Home_Logo.svg); 
        background-repeat: no-repeat;
        background-position:50% 50%;
        background-size: contain;
    }
          h1 a {display: block; width: 220px; height: 32px;}
      

    #md_Area {width: 100%; height: 1436px; background-color: #17F50A; padding-top: 100px; margin-bottom: 100px;}
      .img_box {width:300px; height: 516px; margin: auto; background-color: #eee;}
      .explain_box {width: 100%; height: 766px;margin: auto; padding-top: 50px; background-color: #777; }
      .explain_box dl {width: 100%; height: 442px; background-color: #eee;}
      .explain_box dt {width: 100%; height: 30px; background-color: #cdcdcd;}
      .explain_box dd {width: 100%; height: 370px; margin-top: 40px;background-color: #cdcdcd;}
    .nth_box {width: 150px; height: 80px; padding-top: 15px;margin: auto; margin-top: 40px; background-color: #eee;}
    .nth_box input {display: block; width: 50px; height: 50px; margin: auto;}  

    #recom_box {width: 100%; height: 600px; background-color: #AFE113; margin-bottom: 100px;}
    #detail_ex {width: 100%; height: 1170px; background-color: #A133D2; margin-bottom: 100px;}
    #footbox {width: 100%; height: 240px; background-color: #15E2D8;}
}

/* tablet*/
@media all and (min-width:768px) and (max-width:1279px) {

  #wrap {min-width:768px; max-width: 1279px; min-height:3536px; background-color: #777;}
    #headBox {width:100%; height: 80px; background-color: aqua;}
    #md_Area {width: 100%; height: 1216px; background-color: #17F50A; margin-bottom: 100px;}
    #recom_box {width: 100%; height: 600px; background-color: #AFE113; margin-bottom: 100px;}
    #detail_ex {width: 100%; height: 1100px; background-color: #A133D2; margin-bottom: 100px;}
    #footbox {width: 100%; height: 240px; background-color: #15E2D8;}
}

/* laptop*/
@media all and (min-width:1280px) and (max-width:1439px) {

  #wrap {min-width:1280px; max-width: 1439px; min-height:3004px; background-color: #777;}
    #headBox {width:100%; height: 80px; background-color: aqua;}
    #md_Area {width: 100%; height: 700px; background-color: #17F50A; margin-bottom: 100px;}
    #recom_box {width: 100%; height: 600px; background-color: #AFE113; margin-bottom: 100px;}
    #detail_ex {width: 100%; height: 1100px; background-color: #A133D2; margin-bottom: 100px;}
    #footbox {width: 100%; height: 224px; background-color: #15E2D8;}
}

/* pc */
@media all and (min-width:1440px) {

  #wrap {min-width:1440px; min-height:3004px; background-color: #777;}
  #headBox {width:100%; height: 80px; background-color: aqua;}
  #md_Area {width: 100%; height: 700px; background-color: #17F50A; margin-bottom: 100px;}
  #recom_box {width: 100%; height: 600px; background-color: #AFE113; margin-bottom: 100px;}
  #detail_ex {width: 100%; height: 1100px; background-color: #A133D2; margin-bottom: 100px;}
  #footbox {width: 100%; height: 224px; background-color: #15E2D8;}
  }