//header
@charset "UTF-8";


@media all and (max-width:767px){
  .slide_box {position:relative;  width: 100%; height: 650px; overflow: hidden; }
  .view_box {display: flex; justify-content: space-around; width: 300%; height: 650px;
    & .slide_01 { width: 100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img01.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    }
      .slide_02{width:100%; height: 650px;
      background: {
        image:url(../../../multi/img/section01_img02.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
      .slide_03 {width:100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img03.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    }

      
  }
  .button_box {position: absolute; display: flex; justify-content: space-between; top: 40%; left: 0; width: 100%; height:0; padding: 0 10px;
    & button { width: auto; height: auto;
      & i {color: #fff;}
    }
  }

}// 디자인기준 320px


@media all and (min-width:768px) and (max-width:1279px) {
  .slide_box {position:relative;  width: 100%; height: 650px; overflow: hidden; }
  .view_box {display: flex; justify-content: space-around; width: 300%; height: 650px;
    & .slide_01{ width: 100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img01.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    }
    & .slide_02{width:100%; height: 650px;
      background: {
        image:url(../../../multi/img/section01_img02.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
    & .slide_03{width:100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img03.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
  }
  .button_box {position: absolute; display: flex; justify-content: space-between; top: 50%; left: 0; width: 100%; height: auto; padding: 0 10px;
    & button { width: auto; height: auto;
      & i {color: #fff;}
    }
  }
}// 디자인 기준 768px

@media all and (min-width:1280px) and (max-width:1439px) {
  .slide_box {position:relative;  width: 100%; height: 650px; overflow: hidden;}
  .view_box {display: flex; justify-content: space-around; width: 300%; height: 650px;
    & .slide_01 {float: left; width: 100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img01.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    }
    & .slide_02 {float: left; width:100%; height: 650px;
      background: {
        image:url(../../../multi/img/section01_img02.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
    & .slide_03 {float: left; width:100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img03.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
  }
  .button_box {position: absolute; display: flex; justify-content: space-between; top: 50%; left: 0; width: 100%; height:0; padding: 0 40px;
    & button { width: auto; height: auto;
      & i {color: #fff;}
    }
  }
}// 디자인 기준 1280px


@media all and (min-width:1440px) {
  .slide_box {position:relative;  width: 100%; height: 650px; overflow: hidden;}
  .view_box {display: flex; justify-content: space-around; width: 300%; height: 650px;
    & .slide_01 { width: 100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img01.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    }
    & .slide_02 {width:100%; height: 650px;
      background: {
        image:url(../../../multi/img/section01_img02.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
    & .slide_03 {width:100%; height: 650px; 
      background: {
        image:url(../../../multi/img/section01_img03.jpg);
        repeat:no-repeat;
        position:50% 50% ;
        size:cover;
        }
    } 
  }
  .button_box {position: absolute; display: flex; justify-content: space-between; top: 50%; left: 0; width: 100%; height: 0; padding: 0 50px;
    & button { width: auto; height: auto;
      & i {color: #fff;}
    }
  }
}//디자인 기준 1440px