@charset "UTF-8";
/* a_wire_navien */

/* reset.css ==================================================== */
html,body {width:100%; height: 100%;}

.blind { 
  display: block;
  width: 0; height: 0; overflow: hidden; }

html,body,
h1,h2,h3,h4,h5,h6,
div,p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0; font-family: 'apple SD', 'myriad pro',arial,sans-serif;
  vertical-align: baseline; 
}

ol,ul { list-style:none; }
a { color:inherit; text-decoration: none;}
table,tr,td,th,thead,tbody,tfoot {
  border:1px solid #333; border-spacing: 0; border-collapse: collapse;
}
button { border:0; cursor: pointer;}
em,address { font-style: normal; }
strong,b { font-weight:normal; }
abbr {text-decoration: none;}

/* common.css */
section {margin-bottom: 100px;}
aside {margin-bottom: 100px;}
article {margin-bottom: 100px;}
h1, h2, h3, h4, h5 {text-transform: uppercase;}

.clearfix,
.clearfix::after{
  content: ""; display: block; clear: both;
} 





/*-----------------------------------------------------------------------------------*/

/* work place */

/* head Box */

#wrap {
  width: 1440px; height: auto; min-height:500px;
  margin: auto; 
  background-color: #fff;
}
#headBox {position:relative; 
  width: 1440px; height: 80px;background-color: #fff;
 margin:auto; padding:25px; box-sizing: border-box; }
 h1 {float:left; width: 220px; height: 32px; margin: auto;
  margin-left: 100px;}

 .all_menu button {width: 100%; height: 100%;}
 .all_menu{
  position:absolute; top:0; left:0;
  width: 32px; height: 32px;  margin-left:20px; margin-top: 25px;
  border: #333;}

 .navigation{float:right; width:auto; height: 30px; }  

  .gnb {float:left; width: auto; height: 100%;}

  .unb {float:left; margin-left:60px; width: auto; height: 100%;}

  .navigation li {
    float:left; width: 70px; height: 100%; margin-right: 30px; border: 1px solid #333;  
   }
  
  .navigation li a { display:block; width: 100%; height: 100%; text-align: center;
  line-height:30px;}
  

  .search {float: right; width: 32px; height: 32px; border: 1px solid #333;}
  .search button {width: 100%; height: 100%;}  

  /*------------------------------------------------------------*/

  
/* 광고영역  */
#commercial{position: relative; width: 1440px; height: 800px; background-color: #dfdfdf;
overflow: hidden;} 
    .back {position: absolute; width: 1330px; height: 0; background-color: #333; 
      top:360px; left:55px; z-index: 100;}
      .back button {
        width: 40px; height: 40px; background-color: #fff;
      }
      .back .next {float:right;}
      .back .prev {float:left;}
/*--------------------------------------*/


/* 새로운 제품 */
#newMd { width: 1440px; height: 600px; background-color: #fff ; padding:90px; box-sizing: border-box;}
    .new_box {width: 1100px; height: 420px; margin:auto;}
    h3 {text-align:center; font-weight:bold; text-transform: uppercase;}
    .new_box > ul {width: auto; height: 280px; margin-top: 100px;}
    .new_box li {float:left;width: 200px; height:280px; background-color:#333 ;
   margin-right: 100px;}
    .new_box li:last-child {margin-right: 0; }
/*-----------------------------------------------------------*/


/* 새로운 것 중 베스트 */
#bestOnnew {width:1440px; height: 500px; background-color: #C5D3D9;}
  .bn_Box {width:930px; height:500px; margin: auto; padding-top:50px; box-sizing: border-box;}
  h3 {text-align:center;}
  .bn_img {float:left; width: 320px; height: 320px; background-color: #333;
    margin-left: 50px;  margin-top: 50px;}
  .bn_Box ul {float: right;width: 320px; height: 200px; margin-top: 100px; margin-right: 50px;}
  ul > .bn_title {float:left; width: 320px; height: 24px; font-size: 24px; font-weight: bold;}
  ul > .bn_text {float:left; width: 320px; height: 120px;  margin-top: 30px;}
/*-------------------------------------------------------------*/


/* 가장 잘팔린 것 */
#bestMd {width:1440px; height: 550px;
padding-top: 75px; box-sizing: border-box;}
  .best_box {width: 1100px; height: 400px;  margin:auto;}
  h3 {text-align:center}
  .best_box ul {width: auto; height: auto; margin-top: 100px;}
  .best_box li {float: left; width: 200px; height:280px; background-color:#333 ;
  margin-right:100px;}
  .best_box   li:last-child {margin-right: 0; } 

/*-------------------------------------------------------*/


/* go to maagazine */
#gotomagazine {width:1440px; height: 380px; background-color:#313131; padding:50px; box-sizing: border-box;}
  #gotomagazine  h2 { color:#eee; text-align: center; }

  .btn {width: 290px; height: 30px; background-color: #eee; border-radius: 30px; margin-left: 525px; margin-top: 230px;}
  button {width: 290px; height: 30px;border-radius: 30px; }
  
/*--------------------------------------------------*/  
  
/* Eco */
#Eco {width:1440px; height: 1400px; background-color:#E8EFEE; padding: 100px; box-sizing:border-box}
#Eco > h2 {text-align: center;}
  .Eco_image { width: 1100px; height: 500px; margin-top:100px; margin-left: 70px;}
    .eco_img_01 {float:left; width: 600px; height: 500px; background-color:#313131;
    margin-right: 90px; }
    .eco_img_02 {float:right; width: 400px; height: 500px; background-color: #313131;}

  .explain_area {width: 1100px; height: 400px; margin:auto; margin-top: 100px;}
    .explain_area > ul {float:left; width: 600px; height: 300px;     margin-top: 40px;}
    .con_title {float:right; width: 300px; height: 24px; margin-top:30px; margin-bottom: 30px;;
     font-weight: bold; font-size: 24px;}
    .con_text {float:right; width: 600px; height: 236px;}
    .con_img {float:right; width: 400px; height: 400px; background-color: #313131;}  
/*----------------------------------------*/    

/*  고객센터  */
#service {width:1440px; height: 400px;  padding-top: 70px; box-sizing: border-box;}
  .cs_img {width: 430px; height: 260px; background-color: #eee; margin: auto;}
  .cs_img > h3 {width:430PX; height: 50PX; background-color: #2D3C73;
  font-size: 2.5rem; color:#fff; border-radius: 60px;}

/*------------------------------------------------*/    


/* company */
#footBox {width:1440px; height: 250px; background-color: #dfdfdf;}
  .com_info {float:left;width: 1440px; height: 200px; background-color: #333; margin-top: 50px;}   /* ------------------------------------*/    


