//header
@charset "UTF-8";
// 예비 믹스인 &.on {display: block;}

@media all and (max-width:767px){
  .ex_booth {width: 100%; height: 800px; padding:50px 16px; background-color:rgba(255,255,255);}
  .text_a_01 {width: 100%; height: 170px; margin-bottom: 30px;
    &>p {width: 100%; height: 100%; text-align: center; font-size: 13px; line-height: 28px;
      & >span {font-size: 20px; font-weight: bold;}
    }
  }
  .booth_wrap {width: 100%; height: 500px; 
    & .booth_pd {display: flex; justify-content:flex-start; width:100%; height: 100%;overflow: hidden;
      & li {width: 100%; height: 100%; margin: auto;
        & .img_box {width: 288px; height: 200px; margin-bottom: 20px; margin: auto; }
        & .booth_img01 {
          background: {margin: auto;
            image:url(../../multi/img/booth/section03_img01.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img02 {
          background: {
            image:url(../../multi/img/booth/section03_img02.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img03 {
          background: {
            image:url(../../multi/img/booth/section03_img03.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img04 {
          background: {
            image:url(../../multi/img/booth/section03_img04.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img05 {
          background: {
            image:url(../../multi/img/booth/section03_img05.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & > dl {width:283px; height: 270px; margin: auto;
          & dt {width: 283px; height: auto;font-size: 20px; margin-bottom: 30px;
            & span { font-weight: bold;}
          }
          & dd{width: 283px; height: auto; font-size: 13px;}
        }
      }
    }
  }

}// 디자인기준 320px


@media all and (min-width:768px) and (max-width:1279px) {
  .ex_booth {width: 100%; height: 1100px; padding:50px 45px; background-color:rgba(255,255,255);}
  .text_a_01 {width: 100%; height: 170px; margin-bottom: 30px;
    &>p {width: 100%; height: 100%; text-align: center; font-size: 13px; line-height: 28px;
      & >span {font-size: 20px; font-weight: bold;}
    }
  }
  .booth_wrap {width: 100%; height: 760px; 
    & .booth_pd {display: flex; justify-content: flex-start; width:100%; height: 100%;overflow: hidden;
      & li {width: 690px; height: 100%;
        & .img_box {width: 690px; height: 390px; margin: auto; margin-bottom: 20px; }
        & .booth_img01 {
          background: {
            image:url(../../multi/img/booth/section03_img01.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:cover;
            }
        }
        & .booth_img02 {
          background: {
            image:url(../../multi/img/booth/section03_img02.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img03 {
          background: {
            image:url(../../multi/img/booth/section03_img03.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img04 {
          background: {
            image:url(../../multi/img/booth/section03_img04.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img05 {
          background: {
            image:url(../../multi/img/booth/section03_img05.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & > dl {width:283px; height: 270px; text-align: center; margin: auto;
          & dt {width: 283px; height: auto;font-size: 20px; margin-bottom: 30px;
            & span { font-weight: bold;}
          }
          & dd{width: 283px; height: auto; font-size: 13px;}
        }
      }
    }
  }

}// 디자인 기준 768px

@media all and (min-width:1280px) and (max-width:1439px) {
  .ex_booth {width: 100%; height: 700px; padding:50px 200px; background-color:rgba(255,255,255);}
  .text_a_01 {width: 100%; height: 170px; margin-bottom: 30px;
    &>p {width: 100%; height: 100%; text-align: center; font-size: 13px; line-height: 28px;
      & >span {font-size: 20px; font-weight: bold;}
    }
  }
  .booth_wrap {width: 100%; height: 400px; overflow: hidden;
    & .booth_pd {display: flex; justify-content: flex-start; align-items: center; width:500%; height: 100%;
      & li {display: flex; justify-content:space-evenly; width: calc(100% / 5); height: 100%; margin: auto;
        & .img_box {width: 540px; height: 390px; margin-bottom: 20px;}
        & .booth_img01 {
          background: {
            image:url(../../multi/img/booth/section03_img01.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img02 {
          background: {
            image:url(../../multi/img/booth/section03_img02.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img03 {
          background: {
            image:url(../../multi/img/booth/section03_img03.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img04 {
          background: {
            image:url(../../multi/img/booth/section03_img04.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img05 {
          background: {
            image:url(../../multi/img/booth/section03_img05.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & > dl {width: 80%; height: 270px; text-align: center;
          & dt {width: auto; height: auto;font-size: 20px; margin-bottom: 30px;
            & span { font-weight: bold;}
          }
          & dd{width: auto; height: auto; font-size: 13px;}
        }
      }
    }
  }

}// 디자인 기준 1280px


@media all and (min-width:1440px) {
  .ex_booth {width: 100%; height: 700px; padding:50px 200px; background-color:rgba(255,255,255);}
  .text_a_01 {width: 100%; height: 170px; margin-bottom: 30px;
    &>p {width: 100%; height: 100%; text-align: center; font-size: 13px; line-height: 28px;
      & >span {font-size: 20px; font-weight: bold;}
    }
  }
  .booth_wrap {width: 100%; height: 400px; overflow: hidden;
    & .booth_pd {display: flex; justify-content: flex-start; align-items: center; width:500%; height: 100%;
      & li {display: flex; justify-content: space-around; width: calc(100% / 5); height: 100%; margin: auto;
        & .img_box {width: 540px; height: 390px; margin-bottom: 20px;}
        & .booth_img01 {
          background: {
            image:url(../../multi/img/booth/section03_img01.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img02 {
          background: {
            image:url(../../multi/img/booth/section03_img02.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img03 {
          background: {
            image:url(../../multi/img/booth/section03_img03.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img04 {
          background: {
            image:url(../../multi/img/booth/section03_img04.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & .booth_img05 {
          background: {
            image:url(../../multi/img/booth/section03_img05.jpg);
            repeat:no-repeat;
            position:0 0 ;
            size:contain;
            }
        }
        & > dl {width: 80%; height: 270px; text-align: center;
          & dt {width: auto; height: auto;font-size: 20px; margin-bottom: 30px;
            & span { font-weight: bold;}
          }
          & dd{width: auto; height: auto; font-size: 13px;}
        }
      }
    }
  }


}//디자인 기준 1440px