//header
@charset "UTF-8";


@media all and (max-width:767px){
  .advice_area {width: 100%; height: auto; padding:50px 16px; background-color:rgba(245,245,245);
    & h2 {width: 100%; height: 32px; font-size: 20px; text-align: center; line-height: 32px; margin-bottom: 30px;}
    & fieldset {width: 100%; height: auto;}
    .basic_form {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 24px;}
      & input {width: 100%; height: 30px; border:1px solid #171717;}
    }

    .advice_box {width: 100%; height: 200px; margin-top: 10px;
     & p {width: 100%; height: 24px;}
     & textarea {width: 100%; height: 176px; border:1px solid #171717;}
    }

    .tel_box {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 24px;}
      & input {width: 100%; height: 30px; border:1px solid #171717;}
    }

    .mail_box {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 24px;}
      & input {width: 100%; height: 30px; border:1px solid #171717;}
    }
    .way_box {width: 100%; height: 54px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & .check_area {display: flex; justify-content:space-around; width: 100%; height: 20px;
        & .box_radio {width: 100%; height: 100%; font-size: 14px;
          & input {width: auto; height: auto;}
          & label {width: auto; height: auto;}
        }
      }
    }
    .private_box {width: 100%; height: 160px;
      & p {width: 100%; height: 160px; border: 1px solid #171717; padding: 5px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .private_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }

    .third_box {width: 100%; height: 200px; margin-top: 10px;
      & p {width: 100%; height: 200px; border: 1px solid #171717; padding: 5px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .third_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }


  }
}// 디자인기준 320px


@media all and (min-width:768px) and (max-width:1279px) {
  .advice_area {width: 100%; height: auto; padding:150px 40px; background-color:rgba(245,245,245);
    & h2 {width: 100%; height: 32px; font-size: 20px; text-align: center; line-height: 32px; margin-bottom: 50px;}
    & fieldset {width: 100%; height: auto;}
    .basic_form {width: 100%; height: 54px;margin-top: 10px;
      &>label {width: 100%; height: 24px;}
      & input {width: 100%; height: 30px; border:1px solid #171717;}
    }
    .advice_box {width: 100%; height: 200px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & textarea {width: 100%; height: 176px; border:1px solid #171717;}
    }
    .tel_box {width: 100%; height: 54px;margin-top: 10px;
      &>label {width: 100%; height: 24px;}
      & input {width: 100%; height: 30px; border:1px solid #171717;}
    }
    .mail_box {width: 100%; height: 54px;margin-top: 10px;
      &>label {width: 100%; height: 24px;}
      & input {width: 100%; height: 30px; border:1px solid #171717;}
    }
    .way_box {width: 100%; height: 54px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & .check_area {display: flex;justify-content: left; width: 100%; height: 20px;
        & .box_radio {width: 100%; height: 100%; font-size: 14px;
          & input {width: auto; height: auto;}
          & label {width: auto; height: auto;}
        }
      }
    }
    .private_box {width: 100%; height: 160px;
      & p {width: 100%; height: 160px; border: 1px solid #171717; padding: 10px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .private_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }
    .third_box {width: 100%; height: 200px; margin-top: 10px;
      & p {width: 100%; height: 200px; border: 1px solid #171717; padding: 5px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .third_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }
  }
}// 디자인 기준 768px

@media all and (min-width:1280px) and (max-width:1439px) {
  .advice_area {width: 100%; height: auto; padding:40px 0; background-color:rgba(245,245,245);
    & h2 {width: 100%; height: 32px; font-size: 20px; text-align: center; line-height: 32px; margin-bottom: 50px;}
    & fieldset {width: 600px; height: auto; margin: auto; }
      .nom_area {float:left; width: 45%; height: 54px;margin-top: 10px;
        &>label {width: 100%; height: 17px;}
        & input {width: 100%; height: 37px; border:1px solid #171717;}
    }

    .office_area {float:right; width: 45%; height: 54px;margin-top: 10px;  
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px; border:1px solid #171717;}
    }
    .office_addre {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px;  border:1px solid #171717;}
    }
    .advice_box {width: 100%; height: 150px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & textarea {width: 100%; height: 126px; border:1px solid #171717;}
    }
    .tel_box {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px;  border:1px solid #171717;}
    }
    .mail_box {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px;  border:1px solid #171717;}
    }
    .way_box {width: 100%; height: 54px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & .check_area {display: flex;justify-content: left; width: 100%; height: 20px;
        & .box_radio {width: 100%; height: 100%; font-size: 14px;
          & input {width: auto; height: auto;}
          & label {width: auto; height: auto;}
        }
      }
    }
    .private_box {width: 100%; height: 160px;
      & p {width: 100%; height: 160px; border: 1px solid #171717; padding: 5px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .private_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }
    .third_box {width: 100%; height: 200px; margin-top: 10px;
      & p {width: 100%; height: 200px; border: 1px solid #171717; padding: 5px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .third_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }
  }
  
}// 디자인 기준 1280px


@media all and (min-width:1440px) {
  .advice_area {width: 100%; height: auto; padding:45px ; background-color:rgba(245,245,245);
    & h2 {width: 100%; height: 32px; font-size: 20px; text-align: center; line-height: 32px; margin-bottom: 50px;}
    & fieldset {width: 645px; height: auto; margin: auto; clear:both;}
    .nom_area {float:left; width: 45%; height: 64px;margin-top: 10px;
      &>label {width: 100%; height: 22px;}
      & input {width: 100%; height: 42px; border:1px solid #171717;}
    }
    .office_area {float:right; width: 45%; height: 64px;margin-top: 10px;
      &>label {width: 100%; height: 22px;}
      & input {width: 100%; height: 42px; border:1px solid #171717;}
    }
    .office_addre {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px;  border:1px solid #171717;}
    }
    .advice_box {width: 100%; height: 150px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & textarea {width: 100%; height: 126px; border:1px solid #171717;}
    }
    .tel_box {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px;  border:1px solid #171717;}
    }
    .mail_box {width: 100%; height: 54px; margin-top: 10px;
      &>label {width: 100%; height: 17px;}
      & input {width: 100%; height: 37px;  border:1px solid #171717;}
    }
    .way_box {width: 100%; height: 54px; margin-top: 10px;
      & p {width: 100%; height: 24px;}
      & .check_area {display: flex;justify-content: left; width: 100%; height: 20px;
        & .box_radio {width: 100%; height: 100%; font-size: 14px;
          & input {width: auto; height: auto;}
          & label {width: auto; height: auto;}
        }
      }
    }
    .private_box {width: 100%; height: 160px;
      & p {width: 100%; height: 160px; border: 1px solid #171717; padding: 10px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .private_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }
    .third_box {width: 100%; height: 200px; margin-top: 10px;
      & p {width: 100%; height: 200px; border: 1px solid #171717; padding: 5px; overflow-y: auto; line-height: 30px; 
        & span {font-weight:700;}
      }
    }
    .third_radio {width: 100%; height: 100%; margin-top: 5px;
      & input {width: auto;height: auto;}
      & label {width: 100%; height: auto;font-size: 14px; }
    }

    
    }
}//디자인 기준 1440px