@charset "UTF-8";
@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 1280px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #c5d3d9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #eee;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #c5d3d9;
    color: #171717;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #c5d3d9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #c5d3d9;
    color: #171717;
  }
}
@media all and (max-width: 767px) {
  #comBox {
    width: 100%;
    height: 437px;
  }
  #comBox .commer {
    width: 100%;
    height: 437px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-02.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #comBox {
    width: 100%;
    height: 437px;
  }
  #comBox .commer {
    width: 100%;
    height: 437px;
    background-color: #777;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-03.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #comBox {
    width: 100%;
    height: 600px;
  }
  #comBox .commer {
    width: 100%;
    height: 600px;
    background-color: #777;
    background-image: url(../../multi/img/commercial.png);
    background-repeat: no-repeat;
    background-position: 38% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 1440px) {
  #comBox {
    width: 100%;
    height: 437px;
  }
  #comBox .commer {
    width: 100%;
    height: 437px;
    background-color: #777;
    background-image: url(../../multi/img/commercial.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (max-width: 767px) {
  #productBox {
    width: 100%;
    height: 1442px;
  }
  #productBox .new_wrap {
    overflow: hidden;
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .new_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .new_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 400%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .new_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/boiler1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new {
    width: 100%;
    height: 478px;
    padding-top: 40px;
  }
  #productBox .best_on_new h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .best_on_new ul {
    width: 290px;
    height: 327px;
    margin: auto;
  }
  #productBox .best_on_new ul li {
    width: 100%;
    height: 100%;
  }
  #productBox .best_on_new ul li > div {
    width: 290px;
    height: 173px;
    margin-bottom: 16px;
    background-image: url(../../multi/img/navien_proimg/smart1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new ul li dl {
    width: 290px;
    height: 138px;
  }
  #productBox .best_on_new ul li dl dt {
    width: 100%;
    height: 24px;
    margin-bottom: 14px;
    text-align: center;
  }
  #productBox .best_on_new ul li dl dd {
    width: 100%;
    height: 100px;
    text-align: center;
  }
  #productBox .best_wrap {
    overflow: hidden;
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .best_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .best_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 400%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .best_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/hotwater1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #productBox {
    width: 100%;
    height: 1430px;
  }
  #productBox .new_wrap {
    overflow: hidden;
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .new_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .new_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 200%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .new_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/boiler1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new {
    width: 100%;
    height: 450px;
    padding-top: 20px;
  }
  #productBox .best_on_new h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  #productBox .best_on_new ul {
    width: 668px;
    height: 290px;
    margin: auto;
  }
  #productBox .best_on_new ul li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #productBox .best_on_new ul li > div {
    width: 290px;
    height: 290px;
    background-image: url(../../multi/img/navien_proimg/smart1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new ul li dl {
    width: 280px;
    height: 170px;
    margin-top: 50px;
  }
  #productBox .best_on_new ul li dl dt {
    width: 100%;
    height: 24px;
    margin-bottom: 40px;
  }
  #productBox .best_on_new ul li dl dd {
    width: 100%;
    height: 100px;
  }
  #productBox .best_wrap {
    overflow: hidden;
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .best_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .best_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 200%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .best_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/hotwater1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #productBox {
    width: 1280px;
    height: 1386px;
  }
  #productBox .new_wrap {
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .new_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .new_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .new_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/boiler1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new {
    width: 100%;
    height: 450px;
    padding-top: 20px;
  }
  #productBox .best_on_new h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  #productBox .best_on_new ul {
    width: 810px;
    height: 320px;
    margin: auto;
  }
  #productBox .best_on_new ul li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #productBox .best_on_new ul li > div {
    width: 320px;
    height: 100%;
    background-image: url(../../multi/img/navien_proimg/smart1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new ul li dl {
    width: 320px;
    height: 170px;
    margin-top: 50px;
  }
  #productBox .best_on_new ul li dl dt {
    width: 100%;
    height: 24px;
    margin-bottom: 40px;
  }
  #productBox .best_on_new ul li dl dd {
    width: 100%;
    height: 100px;
  }
  #productBox .best_wrap {
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .best_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .best_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .best_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/hotwater1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
@media all and (min-width: 1440px) {
  #productBox {
    width: 1440px;
    height: 1450px;
  }
  #productBox .new_wrap {
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .new_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .new_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .new_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/boiler1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new {
    width: 100%;
    height: 450px;
    padding-top: 20px;
  }
  #productBox .best_on_new h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  #productBox .best_on_new ul {
    width: 810px;
    height: 320px;
    margin: auto;
  }
  #productBox .best_on_new ul li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  #productBox .best_on_new ul li > div {
    width: 320px;
    height: 100%;
    background-image: url(../../multi/img/navien_proimg/smart1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #productBox .best_on_new ul li dl {
    width: 320px;
    height: 170px;
    margin-top: 50px;
  }
  #productBox .best_on_new ul li dl dt {
    width: 100%;
    height: 24px;
    margin-bottom: 40px;
  }
  #productBox .best_on_new ul li dl dd {
    width: 100%;
    height: 100px;
  }
  #productBox .best_wrap {
    width: 100%;
    height: 464px;
    padding-top: 40px;
  }
  #productBox .best_wrap h2 {
    width: 114px;
    height: 20px;
    margin: auto;
    text-align: center;
  }
  #productBox .best_wrap ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 280px;
    margin-top: 50px;
  }
  #productBox .best_wrap ul li {
    width: 200px;
    height: 280px;
    background-image: url(../../multi/img/navien_proimg/hotwater1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
@media all and (max-width: 767px) {
  #ecoBox {
    width: 100%;
    height: 1990px;
    background-color: #E8EFEE;
    padding: 100px 0;
  }
  #ecoBox .magazine_box {
    position: relative;
    width: 320px;
    height: 250px;
    margin: auto;
    margin-bottom: 100px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-21.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
  }
  #ecoBox .magazine_box h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .magazine_box .ma_btn {
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 290px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .magazine_box .ma_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
  }
  #ecoBox .eco_sel_box {
    width: 100%;
    height: 850px;
    margin-bottom: 50px;
  }
  #ecoBox .eco_sel_box li {
    position: relative;
    width: 320px;
    height: 250px;
    margin: auto;
    margin-bottom: 100px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-19.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .eco_sel_box li .eco_btn01 {
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 290px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li .eco_btn01 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box li:last-of-type {
    width: 320px;
    height: 500px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-18.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 {
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 290px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_conden {
    width: 100%;
    height: 520px;
    padding: 20px 10px;
  }
  #ecoBox .eco_conden .conden_img {
    width: 300px;
    height: 260px;
    margin: auto;
    margin-bottom: 20px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-20.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
  }
  #ecoBox .eco_conden p {
    width: 294px;
    height: 194px;
    margin: auto;
    text-align: center;
    line-height: 25px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #ecoBox {
    width: 100%;
    height: 2800px;
    background-color: #E8EFEE;
    padding: 100px 64px;
  }
  #ecoBox .magazine_box {
    position: relative;
    width: 640px;
    height: 600px;
    margin: auto;
    margin-bottom: 100px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-21.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: cover;
  }
  #ecoBox .magazine_box h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .magazine_box .ma_btn {
    position: absolute;
    left: 191px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .magazine_box .ma_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box {
    width: 100%;
    height: 1350px;
    margin-bottom: 50px;
  }
  #ecoBox .eco_sel_box li {
    position: relative;
    width: 640px;
    height: 600px;
    margin: auto;
    margin-bottom: 100px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-19.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .eco_sel_box li .eco_btn01 {
    position: absolute;
    left: 191px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li .eco_btn01 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box li:last-of-type {
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-18.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 {
    position: absolute;
    left: 191px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_conden {
    width: 100%;
    height: 520px;
    padding: 20px 10px;
  }
  #ecoBox .eco_conden .conden_img {
    width: 300px;
    height: 260px;
    margin: auto;
    margin-bottom: 20px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-20.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
  }
  #ecoBox .eco_conden p {
    width: 294px;
    height: 194px;
    margin: auto;
    text-align: center;
    line-height: 25px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #ecoBox {
    width: 100%;
    height: 1780px;
    background-color: #E8EFEE;
  }
  #ecoBox .magazine_box {
    position: relative;
    width: 100%;
    height: 380px;
    margin-bottom: 100px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-21.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .magazine_box h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .magazine_box .ma_btn {
    position: absolute;
    left: 500px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .magazine_box .ma_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 480px;
    margin-bottom: 100px;
  }
  #ecoBox .eco_sel_box li {
    position: relative;
    width: 654px;
    height: 480px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-19.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .eco_sel_box li .eco_btn01 {
    position: absolute;
    left: 191px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li .eco_btn01 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box li:last-of-type {
    width: 352px;
    height: 480px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-18.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 {
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_conden {
    display: flex;
    justify-content: space-around;
    width: 1095px;
    height: 480px;
    margin: auto;
    padding: 20px 10px;
  }
  #ecoBox .eco_conden .conden_img {
    width: 350px;
    height: 350px;
    margin-top: 45px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-20.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
  }
  #ecoBox .eco_conden p {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
  }
}
@media all and (min-width: 1440px) {
  #ecoBox {
    width: 100%;
    height: 1580px;
    background-color: #E8EFEE;
  }
  #ecoBox .magazine_box {
    position: relative;
    width: 100%;
    height: 380px;
    margin-bottom: 100px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-21.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
  }
  #ecoBox .magazine_box h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .magazine_box .ma_btn {
    position: absolute;
    left: 580px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .magazine_box .ma_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 480px;
    margin-bottom: 100px;
  }
  #ecoBox .eco_sel_box li {
    position: relative;
    width: 654px;
    height: 480px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-19.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li h3 {
    width: 200px;
    height: 28px;
    transform: translate(10px, 10px);
  }
  #ecoBox .eco_sel_box li .eco_btn01 {
    position: absolute;
    left: 191px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li .eco_btn01 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_sel_box li:last-of-type {
    width: 352px;
    height: 480px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-18.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 {
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  #ecoBox .eco_sel_box li:last-of-type .eco_btn02 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #ecoBox .eco_conden {
    display: flex;
    justify-content: space-around;
    width: 1095px;
    height: 480px;
    margin: auto;
    padding: 20px 10px;
  }
  #ecoBox .eco_conden .conden_img {
    width: 350px;
    height: 350px;
    margin-top: 45px;
    background-image: url(../../multi/img/2019_Navien_Company/2019_Navien_Company-20.png);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
  }
  #ecoBox .eco_conden p {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
  }
}
@media all and (max-width: 767px) {
  #customBox {
    width: 320px;
    height: 412px;
    margin: auto;
  }
  #customBox .customer_img {
    width: 100%;
    height: 412px;
    background-image: url(../../multi/img/cs.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #customBox {
    width: 768px;
    height: 412px;
  }
  #customBox .customer_img {
    width: 320px;
    height: 100%;
    margin: auto;
    background-image: url(../../multi/img/cs.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #customBox {
    width: 1280px;
    height: 412px;
  }
  #customBox .customer_img {
    width: 320px;
    height: 100%;
    margin: auto;
    background-image: url(../../multi/img/cs.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (min-width: 1440px) {
  #customBox {
    width: 1440px;
    height: 412px;
  }
  #customBox .customer_img {
    width: 320px;
    height: 100%;
    margin: auto;
    background-image: url(../../multi/img/cs.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
@media all and (max-width: 767px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}
@media all and (min-width: 1440px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}

/*# sourceMappingURL=main_navien.css.map */
