@charset "UTF-8";
@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  .menu_btn {
    float: left;
    margin-top: 10px;
  }

  h1 {
    width: 220px;
    height: 32px;
    margin: auto;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .navigation {
    display: none;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 1280px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #c5d3d9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #eee;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #c5d3d9;
    color: #171717;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    width: 100%;
    height: 80px;
    padding: 24px;
    background-color: #E8EFEE;
  }

  h1 {
    float: left;
    width: 220px;
    height: 32px;
    background-image: url(../../multi/img/Home_Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    position: relative;
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
  }

  .gnb {
    float: left;
    width: auto;
    height: auto;
    background-color: #fff;
  }
  .gnb div {
    text-align: center;
  }
  .gnb li {
    float: left;
    width: 100px;
    height: auto;
    min-height: 30px;
    text-align: center;
    padding-right: 10px;
    margin-right: 40px;
    background-color: #fff;
  }
  .gnb li :last-child {
    margin-right: 0;
  }

  .nav_list {
    display: none;
    height: auto;
    background-color: #fff;
  }

  .nav_list li {
    width: 100px;
    margin-top: 30px;
    height: auto;
  }

  .nav_list a {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: auto;
  }

  .gnb:hover .nav_list {
    display: block;
  }

  .nav_list li:hover {
    background-color: #c5d3d9;
  }

  .unb {
    float: left;
    width: auto;
    height: 24px;
  }

  .unb > div {
    float: left;
    width: 90px;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .unb a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .search {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .search button {
    width: 100%;
    height: 100%;
  }

  .search_area {
    width: 100%;
    height: 100%;
  }

  /*display:none 으로 감추고 JS로 실현*/
  .search_area fieldset {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    width: auto;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    font-weight: bold;
  }

  .search_area input {
    width: 150px;
    height: 30px;
  }

  .search_area button {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
  }

  .search_area button:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 4px rgba(120, 133, 180, 0.616);
    background-color: #171717;
    color: #fff;
  }

  .search_area button:focus {
    background-color: #fda;
    font-size: 20px;
  }

  .search_area button:active {
    background-color: #c5d3d9;
    color: #171717;
  }
}
@media all and (max-width: 767px) {
  .title_box {
    width: 100%;
    height: 378px;
  }
  .title_box h2 {
    width: 100%;
    height: 50px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
  }
  .title_box p {
    width: 100%;
    height: 228px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    color: #fff;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .title_box {
    width: 500px;
    height: 300px;
    margin: auto;
  }
  .title_box h2 {
    width: 100%;
    height: 50px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
  }
  .title_box p {
    width: 100%;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    color: #fff;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .title_box {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
  }
  .title_box h2 {
    width: 100%;
    height: 50px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
  }
  .title_box p {
    width: 100%;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    color: #fff;
  }
}
@media all and (min-width: 1440px) {
  .title_box {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
  }
  .title_box h2 {
    width: 100%;
    height: 50px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
  }
  .title_box p {
    width: 100%;
    height: 100px;
    background-color: #2D3C73;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    color: #fff;
  }
}
@media all and (max-width: 767px) {
  .main_box {
    width: 100%;
    height: 522px;
  }
  .main_box fieldset {
    width: 100%;
    height: 422px;
  }
  .main_box fieldset .num_area {
    display: flex;
    justify-content: start;
    width: 320px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .main_box fieldset .num_area input {
    width: 224px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
  }
  .main_box fieldset .num_area button {
    width: 83px;
    height: 100px;
    background-color: #2D3C73;
    color: #fff;
  }
  .main_box fieldset .certify_area {
    display: flex;
    justify-content: start;
    width: 320px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .main_box fieldset .certify_area input {
    width: 100%;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
  }
  .main_box fieldset .next_btn {
    width: 310px;
    height: 100px;
    margin: auto;
  }
  .main_box fieldset .next_btn button {
    width: 100%;
    height: 100%;
    background-color: #2D3C73;
    color: #fff;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .main_box {
    width: 768px;
    height: 500px;
    margin: auto;
  }
  .main_box fieldset {
    width: 100%;
    height: 400px;
    margin: auto;
  }
  .main_box fieldset .num_area {
    display: flex;
    justify-content: center;
    width: 768px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .main_box fieldset .num_area input {
    width: 580px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
  }
  .main_box fieldset .num_area button {
    width: 170px;
    height: 100px;
    background-color: #2D3C73;
    color: #fff;
  }
  .main_box fieldset .certify_area {
    width: 768px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  .main_box fieldset .certify_area input {
    display: block;
    width: 750px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
    margin: auto;
  }
  .main_box fieldset .next_btn {
    width: 752px;
    height: 100px;
    margin: auto;
  }
  .main_box fieldset .next_btn button {
    width: 100%;
    height: 100%;
    background-color: #2D3C73;
    color: #fff;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .main_box {
    width: 1040px;
    height: 500px;
    margin: auto;
  }
  .main_box fieldset {
    width: 100%;
    height: 400px;
  }
  .main_box fieldset .num_area {
    display: flex;
    justify-content: center;
    width: 1040px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .main_box fieldset .num_area input {
    width: 840px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
  }
  .main_box fieldset .num_area button {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    color: #fff;
  }
  .main_box fieldset .certify_area {
    width: 1040px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  .main_box fieldset .certify_area input {
    display: block;
    width: 1028px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
    margin: auto;
  }
  .main_box fieldset .next_btn {
    width: 1030px;
    height: 100px;
    margin: auto;
  }
  .main_box fieldset .next_btn button {
    width: 100%;
    height: 100%;
    background-color: #2D3C73;
    color: #fff;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (min-width: 1440px) {
  .main_box {
    width: 1040px;
    height: 500px;
    margin: auto;
  }
  .main_box fieldset {
    width: 100%;
    height: 400px;
  }
  .main_box fieldset .num_area {
    display: flex;
    justify-content: center;
    width: 1040px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 5px;
  }
  .main_box fieldset .num_area input {
    width: 840px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
  }
  .main_box fieldset .num_area button {
    width: 200px;
    height: 100px;
    background-color: #2D3C73;
    color: #fff;
  }
  .main_box fieldset .certify_area {
    width: 1040px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  .main_box fieldset .certify_area input {
    display: block;
    width: 1028px;
    height: 100px;
    border: 1px solid #171717;
    padding: 0;
    margin: auto;
  }
  .main_box fieldset .next_btn {
    width: 1030px;
    height: 100px;
    margin: auto;
  }
  .main_box fieldset .next_btn button {
    width: 100%;
    height: 100%;
    background-color: #2D3C73;
    color: #fff;
    text-align: center;
    line-height: 100px;
  }
}
@media all and (max-width: 767px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .info {
    width: 100%;
    height: 100px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .black_logo {
    width: 100%;
    height: 80px;
    background-color: #171717;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}
@media all and (min-width: 1440px) {
  .info {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
  }

  .navien_logo {
    display: none;
  }

  .black_logo {
    width: 100%;
    height: 164px;
    background-color: #171717;
  }
}

/*# sourceMappingURL=sign_up_02.css.map */
