@media all and (max-width: 767px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap .gnb {
    display: none;
  }
  .mobile_gnb_btn {
    width: 34px;
    height: 34px;
  }
  .mobile_gnb_btn > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #headBox .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: aqua;
    padding: 13px;
  }
  #headBox .mobile_menu .close_btn {
    float: right;
    width: 22px;
    height: 32px;
  }
  #headBox .mobile_menu a {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap .gnb {
    display: none;
  }
  .mobile_gnb_btn {
    width: 34px;
    height: 34px;
  }
  .mobile_gnb_btn > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  #headBox .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: aqua;
    padding: 13px;
  }
  #headBox .mobile_menu .close_btn {
    float: right;
    width: 22px;
    height: 32px;
  }
  #headBox .mobile_menu a {
    display: block;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    width: 100%;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 13px 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb {
    width: 700px;
    height: 100%;
  }
  .gnb > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .gnb > ul li {
    width: auto;
    height: 100%;
    line-height: 34px;
    text-align: center;
  }
  .gnb > ul lia {
    width: 100%;
    height: 100%;
  }
  .gnb > ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background-color: #232323;
    color: #fff;
  }

  #headBox .menu_wrap .mobile_gnb_btn {
    display: none;
  }
  #headBox .mobile_menu {
    display: none;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    width: 1440px;
    height: auto;
    min-height: 100px;
  }

  #headBox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 1440px;
    height: 60px;
    padding: 13px 100px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #headBox .menu_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #headBox .menu_wrap h1 {
    width: 100px;
    height: 34px;
    background-image: url(../../multi/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  #headBox .menu_wrap h1 > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gnb {
    width: 700px;
    height: 100%;
  }
  .gnb > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .gnb > ul li {
    width: auto;
    height: 100%;
    line-height: 34px;
    text-align: center;
  }
  .gnb > ul lia {
    width: 100%;
    height: 100%;
  }
  .gnb > ul li:last-of-type {
    width: 250px;
    border-radius: 10px;
    background-color: #232323;
    color: #fff;
  }

  #headBox .menu_wrap .mobile_gnb_btn {
    display: none;
  }
  #headBox .mobile_menu {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .slide_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box li:nth-of-type(1) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(2) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(3) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .indi_box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    width: 100%;
    height: auto;
  }
  .indi_box .indicator {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 15px;
  }
  .indi_box .indicator li {
    width: 9px;
    height: 9px;
    border-radius: 100%;
  }
  .indi_box .indicator li a {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #fff;
  }
  .indi_box .indicator li a:hover {
    transform: scale(150%);
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .slide_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box li:nth-of-type(1) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(2) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(3) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .indi_box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    width: 100%;
    height: auto;
  }
  .indi_box .indicator {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 15px;
  }
  .indi_box .indicator li {
    width: 9px;
    height: 9px;
    border-radius: 100%;
  }
  .indi_box .indicator li a {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #fff;
  }
  .indi_box .indicator li a:hover {
    transform: scale(150%);
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .slide_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box li:nth-of-type(1) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(2) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(3) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .indi_box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    width: 100%;
    height: auto;
  }
  .indi_box .indicator {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 15px;
  }
  .indi_box .indicator li {
    width: 9px;
    height: 9px;
    border-radius: 100%;
  }
  .indi_box .indicator li a {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #fff;
  }
  .indi_box .indicator li a:hover {
    transform: scale(150%);
  }
}
@media all and (min-width: 1440px) {
  .slide_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
  }

  .view_box {
    display: flex;
    justify-content: space-around;
    width: 300%;
    height: 650px;
  }
  .view_box li:nth-of-type(1) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(2) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .view_box li:nth-of-type(3) {
    width: 100%;
    height: 650px;
    background-image: url(../../../multi/img/section01_img03.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .indi_box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    width: 100%;
    height: auto;
  }
  .indi_box .indicator {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 15px;
  }
  .indi_box .indicator li {
    width: 9px;
    height: 9px;
    border-radius: 100%;
  }
  .indi_box .indicator li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #fff;
  }
  .indi_box .indicator li a:hover {
    transform: scale(150%);
  }
}
@media all and (max-width: 767px) {
  .intro {
    width: 100%;
    height: 600px;
    padding: 50px 13px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .video-area {
    width: 100%;
    height: 160px;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 210px;
    margin-top: 30px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .intro {
    width: 100%;
    height: 1050px;
    padding: 50px 30px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 300px;
    padding: 100px 0;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .video-area {
    width: 100%;
    height: 380px;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .intro {
    width: 100%;
    height: 1050px;
    padding: 50px 100px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 260px;
    padding: 100px 0;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .video-area {
    width: 725px;
    height: 410px;
    margin: auto;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 1440px) {
  .intro {
    width: 100%;
    height: 1050px;
    padding: 50px 100px;
    background-color: whitesmoke;
  }

  .text_01 {
    width: 100%;
    height: 260px;
    padding: 100px 0;
  }
  .text_01 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_01 p > span {
    font-size: 22px;
    font-weight: bold;
  }

  .video-area {
    width: 725px;
    height: 410px;
    margin: auto;
  }
  .video-area iframe {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: 0;
  }

  .text_02 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .text_02 p {
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
  }
  .text_02 p > span {
    font-size: 22px;
    font-weight: bold;
  }
}
@media all and (max-width: 767px) {
  .ex_booth {
    width: 100%;
    height: 800px;
    padding: 50px 16px;
    background-color: white;
  }

  .text_a_01 {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
  }
  .text_a_01 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .text_a_01 > p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .booth_wrap {
    width: 100%;
    height: 500px;
  }
  .booth_wrap .booth_pd {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .booth_wrap .booth_pd li {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .booth_wrap .booth_pd li .img_box {
    width: 288px;
    height: 200px;
    margin-bottom: 20px;
  }
  .booth_wrap .booth_pd li .booth_img01 {
    background-margin: auto;
    background-image: url(../../multi/img/booth/section03_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img02 {
    background-image: url(../../multi/img/booth/section03_img02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img03 {
    background-image: url(../../multi/img/booth/section03_img03.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img04 {
    background-image: url(../../multi/img/booth/section03_img04.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img05 {
    background-image: url(../../multi/img/booth/section03_img05.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li > dl {
    width: 283px;
    height: 270px;
    margin: auto;
  }
  .booth_wrap .booth_pd li > dl dt {
    width: 283px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .booth_wrap .booth_pd li > dl dt span {
    font-weight: bold;
  }
  .booth_wrap .booth_pd li > dl dd {
    width: 283px;
    height: auto;
    font-size: 13px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .ex_booth {
    width: 100%;
    height: 1100px;
    padding: 50px 45px;
    background-color: white;
  }

  .text_a_01 {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
  }
  .text_a_01 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .text_a_01 > p > span {
    font-size: 20px;
    font-weight: bold;
  }

  .booth_wrap {
    width: 100%;
    height: 760px;
  }
  .booth_wrap .booth_pd {
    display: flex;
    justify-content: flex-start;
    width: 690px;
    height: 100%;
    overflow: hidden;
  }
  .booth_wrap .booth_pd li {
    width: 690px;
    height: 100%;
  }
  .booth_wrap .booth_pd li .img_box {
    width: 690px;
    height: 390px;
    margin: auto;
    margin-bottom: 20px;
  }
  .booth_wrap .booth_pd li .booth_img01 {
    background-image: url(../../multi/img/booth/section03_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img02 {
    background-image: url(../../multi/img/booth/section03_img02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img03 {
    background-image: url(../../multi/img/booth/section03_img03.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img04 {
    background-image: url(../../multi/img/booth/section03_img04.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li .booth_img05 {
    background-image: url(../../multi/img/booth/section03_img05.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .booth_wrap .booth_pd li > dl {
    width: 283px;
    height: 270px;
    text-align: center;
    margin: auto;
  }
  .booth_wrap .booth_pd li > dl dt {
    width: 283px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .booth_wrap .booth_pd li > dl dt span {
    font-weight: bold;
  }
  .booth_wrap .booth_pd li > dl dd {
    width: 283px;
    height: auto;
    font-size: 13px;
  }
}
@media all and (max-width: 767px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
@media all and (min-width: 1440px) {
  #footBox {
    width: 100%;
    height: 65px;
    padding-top: 12px;
    background-color: #171717;
  }
  #footBox .sns_img {
    width: 208px;
    height: 40px;
    margin: auto;
    background-image: url(../../multi/img/footer_img01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

/*# sourceMappingURL=a_fursys_main.css.map */
